{% if section.settings.show_look_a_like %}
<div class="white_space">
  <h1 class="mid-title md3"></h1>
  <h4 class="middle_sub">{{ section.settings.like_text }}</h4>
  <div class="thumb_slider">
    
    
  </div>
</div>
{% endif %}