<div class="white_space">
  <div class="__border_top_bottom">
    <div class="col-md-12 no-padding">
      <div class="Belly_Band_Size">
        {{ section.settings.tips_img | img_url:'master' | img_tag:'tips_img','img-responsive' }}
      </div>
    </div>
    <div class="col-md-8 no-padding">
      <div class="__Dog_point">
        {{ section.settings.tips_html }}
      </div>
    </div>
  </div>
</div>