<div class="white_space sing_tiper">
  <div class="__border_top_bottom">    
      <div class="Belly_Band_Size __newAlign">
        <div class="_dog_Size_heading">
          <h3>{{ section.settings.tips_heading }}</h5>
         </div>
        <div class="__dog_Band_Icon">
         {{ section.settings.tips_img | img_url:'master' | img_tag:'tips_img','img-responsive' }}
        </div>
      </div>   
      <div class="__Dog_point __newAlign">
        {{ section.settings.tips_html }}
      </div>
  </div>
</div>