body {
    font-family: "Gentona";
}
.container {
    max-width: 1600px;
    padding: 0 70px;
}

#dogdt_img_content .dogdt_img_item.mobBan {
    display: none;
}
.Belly_Band_Size.__newAlign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.__Dog_point__newAlign.dogdt_i_cont {
    margin-top: 10px;
}
	
.embed-containerfg.is_mobile_enble {
    display: none;
}


.__Dog_point__newAlign.dogdt_i_cont ol li {
      margin: 0;
      font-family: "Gentona";
      margin: 0;
      font-weight: 500;
      color: #706f6f;
    }
span.p_only_m {
    display: none;
}
.item-reviews span.stamped-badge-caption {
    text-decoration: none;
}

.item-reviews .stamped-badge-starrating {
    display: flex;
    grid-gap: 3px;
  margin-right: 7px !important;
  margin-left: 7px !important;
}
.item-reviews span.sf_review_section span.stamped-badge .stamped-starrating i, .item-reviews span.sf_review_section span.stamped-badge-caption {
    display: block;
}
.item-reviews .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span {
    display: none!important;
}
.peePad-header-content .item-reviews span {
    padding-right: 3px;
}
.is_desktop_ex.dog_diapper img,.title_online_exe_badge.is_mobile_ex {
    display: none;
}
.is_desktop_ex.dog_diapper.is_badge_show img {
    display: block;
}
.is_desktop_ex.dog_diapper.is_badge_show {
    display: flex;
    align-items: start;
    justify-content: space-between;
    
}
.is_desktop_ex.dog_diapper.is_badge_show img {
    max-width: 125px;
    width: 100%;
    height: auto;
    object-fit: contain;
}  
.title_online_exe_badge img {max-width: 125px;	width: 100%;height: auto;object-fit: contain;}
.title_online_exe_badge {display: flex; grid-gap: 20px; justify-content: space-between;}

/* Start CSS 28 feb */
#rc_radio_options {
	border: 0px solid #11b6bd;
	padding: 0;
}
#videoControl {
    height: 550px !important; 
}
/* End CSS 28 feb */


.product-single.white_space.large--text-left {
    background: #fff !important;
    padding : 60px 0 30px;
}
.product-thumbnail__photos .product-single__photo--flex-wrapper {
    background:#fff;}
ul#ProductThumbs a.product-single__thumbnail.active-thumb { border: 1px solid #ddd;}
.full-img img {border: unset;}
ul#ProductThumbs span.slick-arrow {
    display: none !important;
}
span#sf_peding_image {
    cursor: pointer;
}
.product_code + h5 {
	font-size: 16px;
}
span.sf_review_section span.stamped-badge .stamped-starrating i,span.sf_review_section span.stamped-badge-caption {
    display: none;
}
ul#ProductThumbs span.slick-arrow.is_active, span.sf_review_section span.stamped-badge .stamped-starrating i:not(:first-child) {
    display: none!important;
}
ul#ProductThumbs span.slick-arrow.is_active {
    display: block!important;
}
span.color_variant_bg {
    width: 35px;
    display: block;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto 10px auto !important;background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
span.sf_product_price div#ProductPrice {
    color: #333;
}
span.__roundCrl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 !important;
}
#shopify-section-product-pawtect-blanket-middle .embed-container {
    margin-right: 0px;
}
.sf_PB_banner_right .product_code {
    font-size: 30px!important;
    letter-spacing: .1px;
    font-weight: 800;
    color: #706f6f !important;
}
.product-single__meta2>p.subH5 {
    margin: 25px 0;
}
.sf_PB_banner_right p.subH5 {
    color: #706f6f;
    line-height: 125%;
    font-size: 18px !important;
    margin: 0px 0 0;
  line-height: 24px;
}
.rating.__belowtitle + p.subH5 {
	font-size: 14px !important;
	line-height: 1.6;
	float: left;
	padding-bottom: 30px;
}
.rating.__belowtitle {
	float: left;
	width: 100%;
	padding: 20px 0 10px;
}
.sf_PB_banner_right .price {
    border-top: none;
    margin:0 0 7px;
    padding: 0;
}
.sf_PB_banner_right .stamped-product-reviews-badge {
    display: inline-block;
    font-size: 12px;
    color: #706f6f !important;
    text-transform: capitalize;
    min-width : 300px;
}
.rating.__belowtitle + p.subH5 {
    font-size: 14px!important;
    line-height: 1.6;
} 
.sf_PB_banner_right .__price_button .col-md-12.no-padding {
    display: flex;
    align-items: start;
    justify-content: space-between;
flex-wrap : wrap; 
  margin: 0px auto;
}
.sf_PB_banner_right .__price_button .col-md-12.no-padding > div {
    flex-wrap: wrap; margin-bottom: 0;
    max-width: fit-content;
}
.sf_PB_banner_right .__price_button .col-md-12.no-padding>div.__frm_2 {
    width: 100%;
    max-width: 37%;
}
.peePadVarientsSC .product-form__item.__frm_2 div#ProductSelect-option-1 {
    justify-content: flex-start !important;
    align-items: flex-start;
    grid-column-gap: 15px;
}

.peePadVarientsSC .product-form__item.__frm_2 div#ProductSelect-option-1 .__itemWraper > label {
    width: 100%; max-width: 50px;
    font-size: 12px !important; color: #6d6e71 !important;
}
#ProductSelect-option-1 .__itemWraper {
    max-width: 35px !important;
    min-width: unset !important; margin-left: 0 !important;
}
.radio-wrapper.product-form__item .single-option-radio .__itemWraper {
    text-align: center;
    width: 100%;
    max-width: 40px;
    font-size: 10px !important;
}
.sf_PB_banner_right .product-single__add-to-cart {
    display: flex;
    width: 100%!important;
    max-width: 100%!important;
    margin: 35px auto 0;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 42px 0px;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6; float: left;
}

.radio-wrapper.product-form__item .single-option-radio {
    padding: 0 !important;
}
.sf_PB_banner_right .product-single__add-to-cart button {
    font-weight: 400;
    width: 35%;
    max-width: 185px;
    padding: 10px 0;
    font-size: 19px; text-transform: none;
}
.sf_PB_banner_right .sf_product_price  {
    width: 45%;
    max-width: 200px;
    background: #f6f6f6;
    padding: 7px 10px;
}
.sf_PB_banner_right span.sf_product_price div#ProductPrice {
    color: #706f6f !important;
    font-size: 30px !important;
    font-weight : 400;
}
.sf_PB_banner_right span.color_variant_bg {
    margin-bottom: 15px;
  border: 2px solid #aca4a675!important;
}
.sf_PB_banner_right .__itemWraper input[type=radio]:checked+label span.color_variant_bg {
    border-radius: 50%;
    outline: 0px solid #11b6bd;
    offset: 0px;
    outline-offset: 0px;
}
.sf_PB_banner_right .__price_price span {
    font-size: 28px;
    vertical-align: top;
}
.sf_PB_banner_right .single-option-radio label {
    padding: 0px !important;
  font-weight: 500;
font-size: 12px;
color: #6d6e71 !important;
}
div#ProductSelect-option-0 .__itemWraper input + label {
    color: #6d6e71 !important;
    text-transform: none;
}
.sf_PB_banner_right label.single-option-radio__label {
    position: relative !important;
    width: 100% !important;
    text-align: left !important;
    display: block !important;
    font-size: 13px !important;
    margin-bottom: 20px !important;
}
.single-option-radio label {
    margin: 0;
}
.sf_PB_banner_right .single-option-radio {
    flex-wrap: wrap;
} 
.sf_PB_banner_right label.product-single__quantity-label {
    position: relative!important;
    width: 100%!important;
    max-width: 100%!important;
    text-align: left!important;
    display: block!important;
    font-size: 13px!important;
    margin-bottom: 30px; margin-right: 0;
}
.sf_PB_banner_right .single-option-radio.Size-item-6050703999166#ProductSelect-option-1 .__itemWraper {
    max-width: fit-content !important;
    margin: 0% !importanT;
}
.sf_PB_banner_right .__frm_1 label.single-option-radio__label {
    height: 100%;
    margin-top: 0 !important;
}
.sf_PB_banner_right span.__roundCrl {
    width: 35px !important;
    height: 35px !important;
    margin: 0px auto 4px !important;
}
.sf_PB_banner_right .__roundCrl {
    background: #11b6bd;
    font-size: 20px !important;
}
.product-single__quantity .js-qty button {
   width: 20px !important;
height: 20px !important;
min-height: 20px !important;
min-width: 20px !important; z-index: 111;
}
.sf_PB_banner_right .__itemWraper input[type="radio"]:checked + label span.color_variant_bg {
    outline: 0px solid #11b6bd;
offset: 0px;
outline-offset: 0px; position: relative;
} 
/* .sf_PB_banner_right #ProductSelect-option-0 .__itemWraper input[type=radio]:checked+label span:before {
    border-radius: 50%;
    border: 3px solid #11b6bd!important;
    content: "";
    position: absolute;
    left: -8px;
    top: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    display: inline-block;
} */
/* .__frm_2 .single-option-radio .__itemWraper input[type="radio"]:checked + label span::before {
    border-radius: 50%;
    border: 3px solid #11b6bd !important;
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    display: inline-block;
} */

.template-product-forager-mats .sf_PB_banner_right #ProductSelect-option-1 .__itemWraper input[type="radio"]:checked + label span::before {
border-radius: 50%;
	border: 0px solid #11b6bd !important;
	content: "";
	position: absolute;
	left: -8px;
	top: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	display: inline-block;
	background: none;
}
.template-product-forager-bowls .sf_PB_banner_right #ProductSelect-option-1 .__itemWraper input[type="radio"]:checked + label span::before {
border-radius: 50%;
	border: 3px solid #11b6bd !important;
	content: "";
	position: absolute;
	left: -8px;
	top: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	display: inline-block;
	background: none;
}
.sf_PB_banner_right #ProductSelect-option-0 .__itemWraper input[type="radio"]:checked + label span::before {
	border-radius: 50%;
	border: 3px solid #11b6bd !important;
	content: "";
	position: absolute;
	left: -8px;
	top: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	display: inline-block;
	background: none;
}

.sf_PB_banner_right #ProductSelect-option-0 span.color_variant_bg {
    margin: 0 0 10px;
  border: 2px solid #aca4a675!important; position: relative;
}
.product-single__quantity .js-qty input {
    max-width: 45px!important;
    font-size: 26px !important;
    background: #f1f2f2 !important;
    margin: 0 8px !important;
  height: 45px;
line-height: 45px !important;
font-size: 26px !important;
}
.thumnails_mode .product-single__photo-wrapper>img {
    width: 100%;
    max-width: 100%;
    padding: 25px;
    height: 390px;
}
.sf_PB_banner_right span.stamped-starrating.stamped-badge-starrating {
    padding: 0 !important;
}
.sf_PB_banner_right .stamped-fa.stamped-fa-star:before {
    height: 13px;
    width: 14px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sf_PB_banner_right .product-single__quantity .js-qty button span {
    font-size: 8px !important;
}
span.span_bg_color {
    background: #fff;
    position: relative;
    z-index: 11;
    padding-right: 10px;
}
.sf_PB_banner_right label.single-option-radio__label::after {
    content: "";
    position: absolute;
    height: 1px;
    right: 0;
    background: #c6c6c6;
    top: 9px;
    display: flex; width: 100%;
    flex-grow: 1;
}
.sf_PB_banner_right label.single-option-radio__label {
    position: relative !important;
    width: 100% !important; max-width: 100%; padding-top: 0 !important;
    text-align: left !important;
    display: flex !important;
    font-size: 13px !important;
    margin-bottom: 20px !important; margin-right: 0 !important;
    flex-grow: 1;
    align-items: flex-start !important;
}
/* .sf_PB_banner_right label.single-option-radio__label.hidden-label::after { width: 65%;}
#pawtect-blanket .sf_PB_banner_right label.single-option-radio__label.hidden-label::after {width: 55%;}
.sf_PB_banner_right label.product-single__quantity-label::after{width: 44%;} */

.sf_PB_banner_right label.product-single__quantity-label::after {
    content: '';
    position: absolute;
    height: 1px;    
    background: #c6c6c6;
    top: 7px;
    right :0; width: 100%;
}
.sf_PB_banner_left span#sf_peding_image {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 28px;
    background: #00000080;
    width: 24.25%;
    max-width: 220px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
ul.otherColorVari li {
  border-radius: 50%;
  height: 13px;
  width: 13px;
}
ul.otherColorVari {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.sf_PB_banner_left .product-single__thumbnails img {
    object-fit: cover !important;
    width: 95% !important;
    min-width: 140px !important;
    max-width: 140px !important;
    height: 140px !important;
    max-height: 140px !important;
    border: none !important;
}
.sf_PB_banner_left ul#ProductThumbs {
    padding: 0px !important;
    background: #f5f5f512;
}
.sf_PB_banner_left .product-single__thumbnails .slide_next,.product-single__thumbnails .slide_prev {
    background: rgb(0 0 0 / 0%);
}
.sf_PB_banner_left .product-single__thumbnails .slide_prev svg, .slide_next svg {
    margin: 70px 0 0 0 !important;
}
#ProductThumbs .slide_next svg, #ProductThumbs .slide_prev svg {
    margin-top: 55px!important;
}
.sf_PB_banner_left .full-img {
    padding: 0px;
    border: none !important;
}
.full-img img {
    height : unset;
}
.product-single__meta2 {
    margin-left: 20px;
}
span.item-reviews {
    padding: 0; 
}

.sf_newformatingSizeSection p.sub_cod {
    padding: 30px 0px 25px;
    font-size: 15px;
    color : #706f6f;
    margin-bottom:20px;
}
.top_additional_sec_issue {
    justify-content: space-between;
    grid-gap: 20px; max-width: 100% !important;
}
.sf_top_additional_left_sec {
    max-width: 50% !important; 
}
.top_additional_sec_Img.sf_top_additional_left_sec {
    margin : 0px !important;
}
.sf_top_additional_right_sec {
     max-width: 50% !important;
     background: #f6f6f6;
} 
.sf_top_additional_right_sec>h1 {
    color: #706f6f !important;
    font-size: 28px !important;
    letter-spacing: 0px !important;
    text-transform: capitalize !important;
}
.sf_top_additional_right_sec.listing_pnts h1 {
    font-size: 30px!important;
    margin: 0 0 30px;
  width: 100%;
    max-width: 250px;
}
.additional_sec_helpIssue.pro_points .top_additional_sec_Img {
    justify-content: center !important;
    min-height: 600px;
    height: 100%;
}
.top_additional_sec_subcontent {
    flex-direction: row !important;
    width: 100%;
    max-width: 250px;
}
.top_additional_sec_content.listing_pnts {
    padding-left : 0;
}
.sf_top_additional_right_sec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sf_top_additional_right_sec .top_additional_sec_subcontent ul li {
    font-size: 16px !important;
    line-height: 21px !important;
    color: #706f6f !important;
    margin: 0;
   padding-left: 12px !important;
/*     display: flex;
    align-items: center;
    align-self: center; */
   
}
.sf_c_content ul {
    margin: 5px 0 0 20px;
    padding: 0;
}
.sf_c_content ul li {
    list-style: disc;
}
.sf_top_additional_right_sec .top_additional_sec_subcontent ul li:last-child {
    margin-top: 0px;
}
.sf_top_additional_right_sec ul>li:before {
    top: 10px !important;
    width: 3px !important;
    height: 3px !important;
    background: #706f6f;
}
.top_additional_sec_Img.sf_top_additional_left_sec {
    justify-content: flex-start !important;
}
.top_additional_sec_Img.sf_top_additional_left_sec img {
    max-width : 100%;
}
.Special_Features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Special_Features_content {
    width: 50%;
    display: flex;
    justify-content: start;
    flex-wrap : wrap;
}
.Special_Features_img {
    width: 50%;
    background: #00b8bc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Special_Features_img img {
    max-width: 100%;
}
.inner_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 7%;
    box-sizing: border-box;
    justify-content: center;
    min-height: 270px;
  padding: 20px 35px !important;
}
.Special_Features_row .inner_text {
    padding: 0 3.5%;
}
.inner_text h3 {
    margin: 0;
    font-size: 14px;
    color: #706f6f;
    opacity : .85;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.inner_text p {
    font-size: 16px;
    font-family: "Gentona";
    line-height: 1.2;
    color: #706f6f;
    margin-bottom : 0;
}
p.sf_plus_only {
    font-style: italic;
    font-size: 10px;
    line-height: 1.2;
    margin-top : 7px;
    font-weight: 600;
}
.Special_Features_content .inner_text:nth-child(1) {
    background: #f6f6f6;
}
.Special_Features_content .inner_text:nth-child(2) {
    background: #ededed;
}
.Special_Features_content .inner_text:nth-child(3) {
    background: #ededed;
}
.Special_Features_content .inner_text:nth-child(4) {
    background: #f6f6f6;
}
.sf_icon_text {
    width: 100%;
    max-width: 120px;
}
.icon_img {
    transform: translateY(-20px);
}
.Special_Features_row {
    display: flex;
}
.Special_Features_row .inner_text:nth-child(1) {
    background: #f6f6f6;
}
.Special_Features_row .inner_text:nth-child(2) {
    background: #ededed;
}
.Special_Features_row .inner_text:nth-child(3) {
    background: #f6f6f6;
}
.Special_Features_row .inner_text:nth-child(4) {
    background: #fff;
}
.Special_Features_row .inner_text:nth-child(4) {
    background: #fff;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 20px;
    position: relative;
}
.sf_TopToBootomSlide {
    position: absolute;
    bottom: 0px;
    right: 0; 
    border-left: 0px solid red;
    border-right: 45px solid #e3002b;
    border-bottom: 0px solid #fd9898;
    border-top: 45px solid #c17f7f00;
    width: 0;
    height: 0;
    z-index: 9999;
    cursor: pointer;
}
.sf_TopToBootomSlide span {
    position: relative;
    top: -26px;
    right: -27px;
    font-size: 22px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
}
.sf_imgges {
    position : relative;
    border-top: 8px solid #e3002b;
}
span.sf_bootomTotopSlide {
    position: absolute;
    right: 0;
}
span.sf_bootomTotopSlide {
    position: absolute;
    right: 0;
    bottom: 7px;
    background: #dadada;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
span.sf_bootomTotopSlide:hover {
    background: #a4a5a5;
}
.sf_PawtectBlanketSlider5 {
    margin-top : 30px;
    position: relative;
}
.sf_PawtectBlanketSlider5 .slide_next {
    right: 70px;
    top: -45px;
    min-height: auto;
}
.sf_PawtectBlanketSlider5 .slide_prev {
    right: 100px;
    top: -45px;
    min-height: auto;
}
/* .sf_PawtectBlanketSlider5 .slide_prev, .slide_next {
    background: #dadada;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
} */

.slide_next.slick-arrow::before {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/1355/5443/files/a_right.png);
    background-position: center;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: center center !important;
}
.slide_prev.slick-arrow::before {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/1355/5443/files/a_left.png);
    background-position: center;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}
.slick-arrow {
  background: #e7e7e7;
  left: unset;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: flex !important;
align-items: center;
justify-content: center;
}
.slick-prev.slick-arrow::before {
    z-index: 9999;
    position: absolute;
    background-position: center center;
    width: 22px;
    height: 22px;
}


.sf_PawtectBlanketSlider5 .slide_prev:hover,  .slide_next:hover {
    background: #a4a5a5;
}
.sf_PawtectBlanketSlider5.slick-slider .slick-dots {
    margin: 0;
    bottom: 35px;
}
.sf_PawtectBlanketSlider5 .slick-dots li button:before {
    background-color: #8b8b8a!important;
    border-color: #8b8b8a!important;
    border: none!important;
    width: 10px!important;
    height: 10px!important;
    margin: 0px 5px!important;
    opacity: 1!important;
}
.sf_PawtectBlanketSlider5 .slick-dots li.slick-active button:before {
    background-color: #fff!important;
    border-color: #fff!important;
    opacity: 1!important;
    width: 10px!important;
    height: 10px!important;
    margin: 0px 5px!important;
}



.faqproductpagesf_faq>h2 {
    color: #706f6f; font-family: Gentona;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin: 0;
    padding: 18px 0;
}
#sf_ProductFaq  div#sf_accordion {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    padding: 15px 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.faqConent {
    width: 48%;
}
.faqConent h3 {
    margin: 0;
    font-size: 14px; line-height: 18px;
    color: #706f6f;
    font-weight : 600;
    letter-spacing: -.3px;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: 'Gentona';
}
.faqConent p {
    line-height: 1.3;
    padding-bottom: 5px;
    font-family: 'Gentona';
}
#sf_ProductFaq .row {
    background: #ffffff;
}
.Spec_Features_txt p {
    color: #706f6f !important;
    font-size: 30px !important;
    padding: 15px 0px !important;
    line-height: 1;
    color: #706f6f;
    letter-spacing: 0 !important;
   margin: 0 !important;
line-height: 30px;
}


/* Updated CSS 10 Feb  */

.never-secrifice {
    padding: 0 30px;
  margin: 0 !important;
}
.additional_sec_helpIssue.pro_points {
    padding : 0; margin: 0;
}
.sf_top_additional_left_sec {
    background: #80acc4;
}
#PawtectBlanketSlider5 .bc_slide  {
    position: relative;
}
#PawtectBlanketSlider5 .bc_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section#sf_ProductFaq .container {
    padding: 0;
}
#PawtectBlanketSlider5  {
    margin-bottom: 0px !important;
}
.product-single__quantity {
    padding: 0;
   margin: 0; width: 15% !important;
}
.product-single__photo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.product-single__photo-wrapper>img {
    width: 100%;
    max-width: 80%;
    padding : 35px 0 30px;
}
.product-form__item.__frm_1 {
    width : 40%;
  max-width: 120px;
}
.product-form__item.__frm_1 > div {
    justify-content: flex-start !important;
    grid-column-gap: 15px;
}
/* .template-product-belly-bands .product-form__item.__frm_1 > div {
    justify-content: flex-start !important;
    grid-column-gap: 10px;
} */
ul.nav >li>a.active {
    background: transparent !important;
    color: #706f6f;
    font-weight: 500;
}
ul.nav >li>a.active:hover {
    background: #ed1b3c !important;
}

ul.__linkUL.items_serch p {
    color: #706f6f;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    width: 100%;
    font-family: unset;
    margin: 10px 0 15px 0;
    float: left;
}
h3.forEveryNeed.sliderEveryNeed {
    display: block;
}
h3, .h3, h4, .h4, h5, .h5, h6, .h6 {letter-spacing: 0;}

.template-product-cat-diapers .top_additional_sec_subcontent {
    flex-direction: row;
    max-width: 500px;
}
.template-product-cat-diapers .top_add_sec_leftcontent ul {
    flex-direction: column;
}
.template-product-cat-diapers .top_add_sec_leftcontent ul li{
    width: 100%;
}
/* .sf_top_additional_right_sec .top_add_sec_rightcontent ul li:last-child::before {
    visibility: hidden !important;
}

.sf_top_additional_right_sec .top_add_sec_leftcontent ul li:last-child::before {
    visibility: hidden  !important;
} */


/* CSS 22 Feb 2022   */
.sf_imggess {
    border-top: 8px solid #e3002b;
}
.sf_accoo.sf_acco_left._is_right_blank {
    width: 100%;
}
.sf_imggess.is_mobile_is,.sf_imggess.is_desktop_is {
    display: none;
}


.PatentsPendingTag {
    border: 1px solid #e3002b;
    color: #e3002b;
    padding: 2px 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}  
.is_mobile_ex {
    display: none;
} 







@media (max-width:1199px) {
    .product-single__meta2 {
        margin-left: 0px;
    }
    .rating.__belowtitle+p.subH5 {
        line-height: 1.2;
    }
    .sf_PB_banner_right .__price_button .col-md-12.no-padding>div.__frm_2 {
        width: 50%;
        max-width: 210px;
    }
    .sf_PB_banner_right .__price_button .col-md-12.no-padding>div {
        width: 10%;
    }
    .container {
        max-width: 1600px;
        padding: 0 35px;
    }
/*   .sf_PB_banner_left span#sf_peding_image {
        right: 5%;
    } */
}


/* 14-02-2022 */
.forEveryNeed {font-family: Gentona;
  text-align: center;
  padding: 20px 0 10px;
  font-size: 30px;
  color: #706f6f;
  font-weight: 500;
  text-transform: unset;
  letter-spacing: 0;
  display: none;
}
.js-qty, .ajaxcart__qty {height: auto;}
/* .template-product-dog-diapers .top_add_sec_leftcontent ul {
  display: flex;
  flex-wrap: wrap;
}
.template-product-dog-diapers .top_add_sec_leftcontent ul li {
  width: 50%;
} */
.template-product-dog-diapers  .top_additional_sec_subcontent {
  max-width: 500px;
}
.template-product-dog-diapers .Special_Features_row .inner_text:nth-child(4), .template-product-cat-diapers .Special_Features_row .inner_text:nth-child(4) {
    background: #ededed; flex-direction: column !important; align-items: flex-start;
}
#pawtect-blanket .sf_PawtectBlanketSlider5 {margin-top: 75px !important;}
.template-product-dogblanket-product span.item-reviews .sf_review_section {
    margin-top: 5px;
    margin-bottom: 5px;
}
.inner_text.is_chart_disable {
    flex-direction: column !important;
    align-items: flex-start !important;
}
#sf_accordion_id {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #c6c6c6;
    padding: 15px 0 5px;
    display: flex;
  grid-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sf_accoo {
    width: 48%;
}
#sf_accordion_id .faqConent {
    width: 100%;
}


/* Forager Mats */
.template-product-forager-bowls .sf_PB_banner_right #ProductSelect-option-0 span.color_variant_bg {
    border: 0px solid #aca4a675 !important;
}
.template-product-forager-mats .product-form__item.__frm_1,
.template-product-forager-bowls .product-form__item.__frm_1 {
    width: 30% !important;
}
.template-product-forager-mats .product-form__item.__frm_2{
    max-width: 18% !important;
}
.template-product-forager-bowls .product-form__item.__frm_2 {
  max-width: 25% !important;
}
.template-product-forager-mats .product-form__item.__frm_3, 
.template-product-forager-bowls .product-form__item.__frm_3 {
    width: 18% !important;
}
.template-product-forager-mats .peePadVarientsSC .product-form__item.__frm_2 div#ProductSelect-option-1 {
    grid-column-gap: 15px;
}
.template-product-forager-mats .product-form__item.__frm_1 .color_variant_bg,
.template-product-forager-bowls .product-form__item.__frm_1 .color_variant_bg {
    width: 80px;
   padding: 30px 40px;
background-size: 90% !important;
}
.template-product-forager-mats .sf_PB_banner_right #ProductSelect-option-0 .__itemWraper input[type=radio]:checked+label span:before,
.template-product-forager-bowls .sf_PB_banner_right #ProductSelect-option-0 .__itemWraper input[type=radio]:checked+label span:before {
    border-radius: 15px;
    border: 3px solid #11b6bd !important;
}
.template-product-forager-mats .sf_PB_banner_right #ProductSelect-option-0 span.color_variant_bg {
    margin: 0 0 10px;
    border: 0px solid #aca4a675!important;
    position: relative;
}
.template-product-forager-mats .product-form__item.__frm_1 .__itemWraper,
.template-product-forager-bowls .product-form__item.__frm_1 .__itemWraper {
    max-width: 80px;
}
.template-product-forager-bowls .product-form__item.__frm_3 .single-option-radio,
.template-product-forager-mats .product-form__item.__frm_3 .single-option-radio {
    display: flex;
    background: #fff;
    justify-content: start;
    grid-column-gap: 25px;
    padding: 15px 20px;
}
/* .template-product-dog-diapers .sf_top_additional_right_sec .top_add_sec_leftcontent ul li:last-child:before {
    visibility: hidden !important;
}
.template-product-belly-bands .sf_top_additional_right_sec .top_add_sec_leftcontent ul li:last-child:before {
    visibility: hidden !important;
} */
.template-product-forager-mats .Special_Features_row .inner_text:nth-child(4) {
    background: #ededed;
}
.template-product-forager-mats .js-qty {
    height: 50px;
}
/* .template-product-forager-mats .sf_top_additional_right_sec .top_add_sec_leftcontent ul li:last-child:before {
    visibility: hidden!important;
} */


.sf_PB_banner_right .product_code {
    line-height: 30px;
    margin-top: -5px;
}
.stamped-review {
    border-top: 0px !important;
}

/* Media Screen */
@media only screen and (min-width:1366px)) and (max-width:1479px){
.peePadVarientsSC .product-form__item.__frm_2 div#ProductSelect-option-1 {grid-column-gap: 5px;}
.product-form__item.__frm_1 > div {grid-column-gap: 4px;}
#videoControl {height: 520px !important;}
}
@media only screen and (min-width:1400px) and (max-width:1520px) {
.sf_PB_banner_right {width: 55%;}
.sf_PB_banner_left {width: 45%;}
#videoControl {height: 520px !important;}
  .template-product-pawtect-blanket-regular #videoControl { height: 670px !important;}    
}

@media only screen and (min-width:768px) and (max-width:1400px) {
.sf_PB_banner_right .__price_button .col-md-12.no-padding > div.__frm_2 {width: 100%; max-width: 38%;}
.product-form__item.__frm_1 > div {grid-column-gap: 8px;}
  
.sf_PB_banner_right span.__roundCrl {width: 30px !important;height: 30px !important;}	
  #ProductSelect-option-1 .__itemWraper {max-width: 30px !important;}
  
 
.template-product-forager-bowls .product-single__quantity, .template-product-forager-mats .product-single__quantity {
    margin-top: 10px;
    width: 100%!important;
    max-width: 100% !important;
}
.template-product-forager-bowls .product-form__item.__frm_3 .single-option-radio, .template-product-forager-mats .product-form__item.__frm_3 .single-option-radio {
    justify-content: center;
}
  
  
 
}



@media only screen and (min-width:100px) and (max-width:1024px) and (orientation: landscape) {
  .forEveryNeed {display: block;}
  #shopify-section-product-blanket-pawtect-header .grid__item {padding-right: 20px !important;}
  #shopify-section-product-blanket-pawtect-header .product-single {padding: 20px 0 !important;}
  .sf_PB_banner_right .__price_button .col-md-12.no-padding > div.__frm_2 {width: 100%;max-width: 100%;margin: 20px 0 0;}
  .sf_PB_banner_right .__price_button .col-md-12.no-padding > div {width: 100%; max-width: 270px !important; padding-left: 0px !important;}
  .sf_PB_banner_right .__price_button .col-md-12.no-padding {flex-direction: column;}  
  .sf_PB_banner_right label.product-single__quantity-label {position: relative !important;  padding: 15px 0; margin: 0;}
  .sf_PB_banner_right label.product-single__quantity-label::after {width: 100%;top: 0;}
/*   .sf_PB_banner_right label.single-option-radio__label::after, .sf_PB_banner_right label.single-option-radio__label.hidden-label::after {top: 11px; width: 70%;} */
  .product-form__item.__frm_1 > div, .single-option-radio.Size-item-6050703999166#ProductSelect-option-1 {justify-content: flex-start !important;}
  .radio-wrapper.js.product-form__item.__frm_2 label.single-option-radio__label {background: none;color: #6d6e71;text-transform: unset !important;  font-size: 13px !important;}
  
  .never-secrifice .top_additional_sec_issue {display: none;}
    .never-secrifice .sub_cod { padding: 25px 0px !important;margin: 0px 0 !important;}
  .block-6ddf39c0-6166-4d7c-a3ef-55b60691704d .container {padding: 0;}
  .block-6ddf39c0-6166-4d7c-a3ef-55b60691704d .top_additional_sec_Img.sf_top_additional_left_sec img {margin: 0 auto;}
  .sf_top_additional_right_sec {text-align: center !important; margin: 0 auto 20px auto !important; justify-content: flex-start; align-items: flex-start;}
  .sf_top_additional_right_sec.listing_pnts h1 {margin: 0 auto 30px auto;}
  .product-single__quantity .js-qty {max-width: 100%;justify-content: flex-start;}
  
  .sf_PawtectBlanketSlider5 .slide_prev {right: 55px;}
  .sf_PawtectBlanketSlider5 .slide_next {right: 20px;}
/*   #PawtectBlanketSlider5 .bc_slide {padding-top: 5%;} */
    .sf_PawtectBlanketSlider5 {margin-top: 50px;}
  
  
  
  .sf_PB_banner_left .product-single__thumbnails img {
    height: 100px!important;
    max-height: 100px!important;
    padding-bottom: 0 !important;
}
  .sf_PB_banner_left span#sf_peding_image {
    height: 100px;
}
  
  
  
  
  
}
/* Updated CSS 28 Feb */


@media only screen and (min-width:768px) and (max-width:1400px) {
  .container {
    padding: 0 35px;
  }
  .additional_sec_helpIssue.pro_points .top_additional_sec_issue {
      flex-direction: unset;
  }
  .additional_sec_helpIssue.pro_points .top_additional_sec_Img {
    min-height: 415px !important;
}
/*   .top_additional_sec_content.listing_pnts {
      align-items: center;
      justify-content: center;
  }
  .top_additional_sec_content.listing_pnts ul {
      margin-left: 15px;
  }
  .top_additional_sec_issue {
      flex-direction: unset !important;
  }
  .top_additional_sec_issue {
      flex-direction: unset !important;
  }
  .sf_newformatingSizeSection p.sub_cod {
      margin-bottom: 20px !important;
  }
  ._supplementCustom #ProductSelect-option-1 .__itemWraper label {
      font-size: 18px;
      padding: 10px 15px!important;
  } */
} 



@media only screen and (min-width:100px) and (max-width:1024px) {
.ProductFaq {display: none;}
}
@media only screen and (min-width:100px) and (max-width:1100px) {
  .__price_button {padding-left: 0px;}
    .top_additional_sec_issue {grid-gap: 0;flex-direction: column;}
    .Special_Features,.Special_Features_row {flex-direction: column;}
    .Special_Features_content {width: 100%;flex-direction: column; order: 2; margin-top: 20px;}
    .inner_text,.Special_Features_img {width: 100%; order: 1;}
    .top_additional_sec_content.listing_pnts {padding: 70px 20px 70px !important;margin-bottom: 0 !important; align-items: center;}
  .Special_Features_row .inner_text {padding: 30px;min-height: 100%;}
  
  #shopify-section-product-blanket-pawtect-header .grid__item {padding: 0;}
  .sf_PB_banner_right .__price_button .col-md-12.no-padding > div.__frm_2 {width: 100%;max-width: 100%;margin: 20px 0 0;}
  .sf_PB_banner_right .__price_button .col-md-12.no-padding > div {width: 100% !important; padding-left: 0px !important;max-width: 100% !important; margin: 20px 0 0 !important;}
  .sf_PB_banner_right .__price_button .col-md-12.no-padding {flex-direction: column;}  
  .sf_PB_banner_right label.product-single__quantity-label {position: relative !important;  padding: 15px 0; margin: 0;}
  .sf_PB_banner_right label.product-single__quantity-label::after {width: 100%;top: 0;}
  .product-form__item.__frm_1 > div, .single-option-radio.Size-item-6050703999166#ProductSelect-option-1 {justify-content: center !important;}
  .radio-wrapper.js.product-form__item.__frm_2 div#ProductSelect-option-1 {padding-top: 0px !important; justify-content: center !important;}
.pawtectBlanketProductContainer .radio-wrapper.js.product-form__item.__frm_2 label.single-option-radio__label
  {background: none;color: #6d6e71;text-transform: unset !important; font-size: 13px !important;padding: 0 !important; position: relative !important; margin-bottom: 20px !important; height: auto !important;}
.pawtectBlanketProductContainer #ProductSelect-option-1, .pawtectBlanketProductContainer div#ProductSelect-option-0 {padding: 0px !important;}
.sf_PB_banner_right #AddToCartForm--product-belly-band-header label.single-option-radio__label {
    margin-bottom: 20px !important;}
  .product-single.white_space.large--text-left {padding: 20px 0px !important;}
  .product-single__quantity label span.span_bg_color {margin-top: 20px;padding-left: 25px;}
  
  .never-secrifice .top_additional_sec_issue {display: none;}   
  .block-6ddf39c0-6166-4d7c-a3ef-55b60691704d .container {padding: 0;}
  .block-6ddf39c0-6166-4d7c-a3ef-55b60691704d .top_additional_sec_Img.sf_top_additional_left_sec img {margin: 0 auto;}
  .sf_top_additional_right_sec {text-align: center !important; margin: 0 auto 20px auto !important; justify-content: flex-start; align-items: flex-start;}
  .sf_top_additional_right_sec.listing_pnts h1 {margin: 0 auto 30px auto; text-align: center !important; max-width: 100%;}
  .product-single__quantity .js-qty {max-width: 100%;justify-content: flex-start;}
.stamped-product-reviews-badge.stamped-main-badge.sf_review_section {padding: 10px 10px 10px 0px;}
  
 .sf_PawtectBlanketSlider5 .slide_prev {right: 55px;}
  .sf_PawtectBlanketSlider5 .slide_next {right: 20px;}
/*   #PawtectBlanketSlider5 .bc_slide {padding-top: 5%;} */
    .sf_PawtectBlanketSlider5 {margin-top: 50px;}
  
  .sf_Special_Features_sec .container {padding: 0;}
.sf_Special_Features_sec  .inner_text {min-height: 100%; padding: 15px 20px;position: relative;}
.sf_Special_Features_sec .inner_text .sf_c_content {display: none;}
.sf_Special_Features_sec .sf_plus_only {display: none;}
.sf_Special_Features_sec .inner_text .sf_c_content.is_spc_active {display: block;}
.sf_Special_Features_sec .inner_text {background: #f6f6f6 !important;margin-bottom: 5px;}
  .Special_Features_row .inner_text:last-child {display: none;}
  
 .inner_text h3::before {content: "";background: url(https://cdn.shopify.com/s/files/1/1355/5443/files/down-arrow-icon.jpg);
    height: 12px;width: 8px;display: inline-block;background-repeat: no-repeat;position: absolute;left: 20px;top: 17px;}
  .inner_text h3 {padding-left: 20px;}
  
  #AddToCartForm--product-blanket-pawtect-header {position: relative;}
  .grid__item {padding: 0 0px;}
  .sf_PB_banner_right .product-single__add-to-cart button {width: 100%; max-width: 100px;height: 38px; padding: 0px 5px;font-size: 14px; font-weight: 500; margin-left: 10px;}
.sf_PB_banner_right .sf_product_price {padding: 0 5px; height: 38px; line-height: 35px; width: 100%;max-width: 100px;}
  .product-single__quantity .js-qty input {height: 35px; min-width: 45px !important; line-height: 35px !important;font-size: 18px !important;}
  .sf_PB_banner_right span.sf_product_price div#ProductPrice {font-size: 21px !important;}
  
  
  
/*   .pawtectBlanketProductContainer .container {padding: 0 20px;} */
.sf_PB_banner_right div[itemprop="offers"] {border-bottom: 0px solid #ccc;padding-bottom: 10px;}
/*   .sf_PB_banner_right .product-single__add-to-cart {
    padding: 30px 0;
} */
.Spec_Features_txt p {padding: 30px 0 !important;}
.Special_Features_img img {max-width: 100%; width: 100%;}
.container {padding: 0 0px;    }
.product-single__meta2 {padding: 0 20px;}
#sf_ProductFaq {padding: 0 20px;}
.never-secrifice .sub_cod {padding: 30px 20px !important;margin: 0 !important;}
  
 
  .forEveryNeed {display: block;padding: 40px 0 10px;}
/*   #videoControl {height: 100% !important;} */
  
  #ProductSelect-option-0 .__itemWraper {width: auto;}
  .embed-containerfg {margin-top: 20px;}  
  .additional_sec_helpIssue.pro_points .top_additional_sec_Img {min-height: 100%;padding: 50px;}
  .Special_Features_img {padding: 50px;}
  .thumnails_mode .product-single__photo-wrapper > img {max-width: 100%;padding: 10px;height: 380px;}
  
  .blanketContent .shopify-section {padding-bottom: 35px;}
  .sf_PawtectBlanketSlider5.slick-slider .slick-dots {bottom: -40px;}
  .sf_PawtectBlanketSlider5 .slick-dots li button::before {background-color: #dadada !important;}
  .sf_PawtectBlanketSlider5 .slick-dots li.slick-active button::before {background-color: #a4a5a5 !important;}
  .blanketContent .additional_sec_helpIssue.pro_points {margin: 0 !important;}
  .template-product-dog-diapers .top_add_sec_leftcontent ul li {text-align: left;}
  
  .sf_PB_banner_right .product_code {font-size: 24px !important;}
  #sf_accordion_id {grid-gap: 10px;}
  .template-product-belly-bands .product-form__item.__frm_1 > div {justify-content: center !important;}
  #ProductSelect-option-1 .__itemWraper {max-width: 40px !important;}
body#\33 -pack-washable-belly-band-for-dogs-male-dog-wraps-dog-diapers-male .__itemWraper {max-width: 50px;}
  
  #pawtect-blanket .sf_PawtectBlanketSlider5 {margin-top: 45px !important;}
  
  .template-product-pawtect-blanket-regular .__price_button {padding-left: 0; padding-top: 30px;}
  .template-product-pawtect-blanket-regular .sf_PB_banner_right .__price_button .col-md-12.no-padding {flex-direction: row;}
  .template-product-pawtect-blanket-regular .sf_PB_banner_right .__price_button .col-md-12.no-padding > div.__frm_2 {width: 63% !important;max-width: 100%;margin-top: 0 !important;}
  .template-product-pawtect-blanket-regular .sf_PB_banner_right .__price_button .col-md-12.no-padding > div.__frm_1 {width: 30% !important;margin-top: 0 !important;}
  body.template-product-pawtect-blanket-regular .product-single__quantity{width: 100% !important; margin-top: 30px !important;}
  .js-qty, .ajaxcart__qty {height: auto;}
/*   .template-product-pawtect-blanket-regular .sf_PB_banner_right .__price_button .col-md-12.no-padding .product-single__add-to-cart {margin: -38px 0 0 !important;} */
  .template-product-pawtect-blanket-regular .top_additional_sec_subcontent {max-width: 160px;margin: 0 auto;}
  .template-product-pawtect-blanket-regular .top_additional_sec_content.listing_pnts {padding: 70px 20px 70px !important;}
  .template-product-pawtect-blanket-regular #pawtect-blanket .sf_PawtectBlanketSlider5 {margin-top: 50px !important;}
  
/*   .template-product-cat-diapers .sf_PB_banner_right .__price_button .col-md-12.no-padding .product-single__add-to-cart {margin: -38px 0 0 !important;} */
  .template-product-cat-diapers .top_add_sec_leftcontent ul, .template-product-belly-bands .top_add_sec_leftcontent ul
  { display: flex; flex-wrap: wrap; width: 100%;}
  .template-product-cat-diapers .top_add_sec_leftcontent ul li, .template-product-belly-bands .top_add_sec_leftcontent ul li
  {width: 100%;text-align: left;}
  .template-product-cat-diapers .top_add_sec_leftcontent { width: 100%;}
   .template-product-cat-diapers .top_additional_sec_subcontent, .template-product-belly-bands .top_additional_sec_subcontent  {max-width: 100%;}
  .template-product-cat-diapers .Special_Features_img img, .template-product-dog-diapers .Special_Features_img img {max-width: 50%;}
  .template-product-belly-bands .Special_Features_img img {max-width: 75%;}
  
 .template-product-cat-diapers .top_additional_sec_content .top_additional_sec_subcontent > div {max-width: 50% !important;}
  .template-product-forager-mats .product-form__item.__frm_3 .single-option-radio {justify-content: center;}
     
/* Updated 22 Feb 2022   */
  .template-product-belly-bands .listing_pnts.sf_top_additional_right_sec .top_add_sec_leftcontent ul li {width: 50%;}
.sf_accoo {width: 100%;}
#shopify-section-product-dogblanket-middle .sf_imggess {border-top: 8px solid #e3002b; padding: 15px;}  
#shopify-section-product-pawtect-blanket-middle .sf_imggess.is_mobile_is {margin: 50px 15px 0; padding-top: 25px;}
  
.template-product-forager-bowls .product-form__item.__frm_3 .single-option-radio, .template-product-forager-mats .product-form__item.__frm_3 .single-option-radio {
    justify-content: center;}
.rating.__belowtitle {padding: 0;}

}
.sf_imggess.is_mobile_is {
    display: none;
}

.slideriD_d013a137-d642-4c0f-a121-7114015645d9 ul.slick-dots {
    display: none !important;
}




/* CSS 28 Feb  */
@media (max-width:1285px) {
    .product-form__item.__frm_1>div, .single-option-radio.Size-item-6050703999166#ProductSelect-option-1 {
        justify-content: center!important;
    }
    .sf_PB_banner_right .__price_button .col-md-12.no-padding>div {
        width: 100%!important;
        max-width : 100% !important;
    }
    .peePadVarientsSC .product-form__item.__frm_2 div#ProductSelect-option-1 {
        justify-content: center !important;
    }
    .product-single__quantity .js-quantity-selector, .product-single__quantity .js-qty, .product-single__quantity .ajaxcart__qty {
        justify-content: center;
    }
    .GraTan_Variant {
        justify-content: center;
    }
}

@media only screen and (min-width: 100px) and (max-width: 1100px) {
.product-single__quantity label span.span_bg_color {
    margin-top: 0px;
    padding-left: 0px;
}
}
@media (min-width: 768px) {
  .sf_imggess.is_mobile_is {
    display: none !important;
}

}
@media (max-width: 767px) {
	.sf_top_additional_left_sec {
        width: 100%!important;
        max-width: 100%!important;
    }
 .sf_imggess.is_desktop_is {
    display: none !important;
}
    .additional_sec_helpIssue.pro_points .top_additional_sec_Img {
        padding: 100px 50px;
        margin: 0 !important;
        width: 100% !important;
        max-width: 100%!important;
        padding: 100px 50px;
    }
    #videoControl {
        height: 230px!important;
        object-fit: cover;
    }
    .medium--six-twelfths {
        width: 100%;
    }
    .sf_PB_banner_right .__price_button .col-md-12.no-padding .product-single__add-to-cart {
        position: relative; 
        bottom: 0;
        right: 0; justify-content: flex-end;  
        padding: 0 !important; 
        grid-gap: 0 !important; 
        margin: -38px 0 0 !important;   
        border: 0;
    }
    .product-single__quantity .js-quantity-selector, .product-single__quantity .js-qty, .product-single__quantity .ajaxcart__qty {
        justify-content: start;
    }
    .top_additional_sec_content.listing_pnts {
        align-items: center;
    }
    .embed-containerfg  #videoControl {
        height: 235px !important;
    }
    .sf_PB_banner_right p.subH5 {
        font-size: 13px!important;
        line-height: 1.25;
    }
  
  
  
  
   /*   Update 02 March For Mobile Header   */
  
  
    .product-single__meta2 .subH5 {
        padding: 0 !important;
        margin: 0px !important;
    }
    label.single-option-radio__label.js-quantity-selector {
        margin-bottom: 5px !important;
    }
    .product-single__quantity {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 15px;
    }
    .sf_PB_banner_right .__price_button .col-md-12.no-padding .product-single__add-to-cart {
        margin: -55px 0 0!important;
    }
    .product-single.white_space.large--text-left {
        padding: 20px 0 0 !important;
    }
    .product-single__meta2 .subH5 {
        font-size: 13px;
        font-family: "Gentona";
  }
  ._product_subData {
      margin-top: 8px;
  }
  .sf_newformatingSizeSection p.sub_cod {
      font-size: 12px;
  }
  #dogdt_img_content .dogdt_img_item.mobBan img {
    margin: 0px auto;
    margin-top: 15px;
}
  
  .title_online_exe_badge.is_desktop_ex.dog_diapper.is_badge_show img {
      display: none;
  }
  .title_online_exe_badge.is_mobile_ex.zdgfhg.is_badge_show {
      display: block;
  }
  .title_online_exe_badge.is_mobile_ex.is_click_eable.is_badge_show,.title_online_exe_badge.is_mobile_ex.is_click_disable {
    width: 100%;
    max-width: 207px;
    display: block;
    margin: 0 auto 8px;
}
.title_online_exe_badge.is_desktop_ex .badge-image {
    display: none;
}
.is_desktop_ex.dog_diapper.is_badge_show img, .title_online_exe_badge img {
    max-width: 100%;
}
  
  .top_additional_sec_subcontent ul li {
    align-items: flex-start !important;
    align-self: self-start !important;
    text-align : left;
}
  .top_additional_sec_subcontent {
    max-width: unset;
    width: max-content;
}
  
  
.is_mobile_ex {
        display: block;
    }  
    span.PatentsPendingTag.is_desktop_ex {
        display: none;
    }
    span.PatentsPendingTag.is_mobile_ex {
      width: 100% !important;
      max-width: 154px !important;
      display: block;
      margin: 16px auto -12px;
  }
  
  .sf_PB_banner_left span#sf_peding_image {
    right: 1%;
    width: 31%;
    max-width: 240px;
}
  
  .product-single__quantity label span.span_bg_color {
    margin-top: 20px;
    padding-left: 25px;
}
  .sf_top_additional_right_sec .top_additional_sec_subcontent ul li {
    font-size: 14px!important;
    line-height: 18px!important;
}

#PawtectBlanketSlider5 .bc_slide {
    padding-top: 8%;
}
  
#PawtectBlanketSlider5 .bc_slide img {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
span.p_only_m {
    display: block;font-size: 10px;
    float: right;font-style: italic;
    padding-top: 3px;
}
  .sss_slider {display: none;}
  
.blanketContent .shopify-section {
      padding-bottom: 0px;
  }
  
  
  ._dog_Size_heading.dogdt_i_cont {
		order: 2;
        margin-top: 20px;
    }
    .__dog_Band_Icon.dogdt_i_cont  {
    	order: 1;
    }
    .__Dog_point__newAlign.dogdt_i_cont  {
	    order: 3;
	}.Belly_Band_Size.__newAlign {
        max-width: 100%;
        border: 0px ;
        padding: 35px 15px 0px;
      margin: 0;
    }
    ._dog_Size_heading.dogdt_i_cont>h3 {
        margin: 0;
    }
    .__Dog_point__newAlign.dogdt_i_cont ol li {
        margin: 10px 0 0;
    }
    .embed-containerfg.is_mobile_enble {
        display: block;
    }
    .embed-containerfg.is_desktop_enble {
        display: none;
    }
  
}