/** Pet Parents Careers 21-10-2020 **/
@media screen and (min-width:767px) and (max-width:1023px) {
.PPred hr,.PPblue hr {max-width: 480px !important;}
.PPred hr {border: 5px solid #e6173e !important;}
.PPblue hr {border: 5px solid #00b7bc !important;}  
.SectionContent.PPred h3,.PPblue h3 {font-size: 28px;}
.SectionContent.PPred h3 br {display: none;}
.SectionContent.PPred p,.SectionContent.PPblue p {max-width: 100% !important;}  
.slick-initialized .slick-slide {display: flex !important; justify-content: space-evenly;}
.JoinPackContent p {width: 100%;max-width: 100%;}  
.PPimg img {object-fit: cover;}
.careersDetails-section5 .SectionContent p {max-width: 100%;}
.slick-slide img {padding-bottom: 10px;}
.OurPack {height: auto !important;padding: 0 0 50px;}
.JoinPackContent {padding: 10px 15px;}
  
}

@media screen and (min-width:1024px) and (max-width:1365px) {
.PPred hr {border: 5px solid #e6173e !important;}
.PPblue hr {border: 5px solid #00b7bc !important;} 
  
.careersDetails-section1 .PPred {padding: 20px 30px;}
.careersDetails-section2 .SectionContent.PPblue{padding: 20px 30px;}
.careersDetails-section5 .SectionContent.PPred { padding: 20px 30px;}
.SectionContent.PPred h3,.PPblue h3 {font-size: 28px;}
.slick-initialized .slick-slide {display: block !important;}
.testimonals1, .testimonals2 {align-items: flex-start;}
  .PPimg img {object-fit: cover;}
  .JoinPackContent {width: 42%;}
  .JoinThePack .JoinTestimonals {width: 45%;}
  .SubSectionC1, .SubSectionC2 {width: 42%;  padding: 0;}
}
/** Pet Parents Careers 21-10-2020 End **/

@media only screen and (min-width:100px) and (max-width:767px) {
/* Top Menu */
.TopMenu {z-index: 1; display: none;width: 100%;position: absolute; top: 90px; background: #00b6bd; left: 0; right: 0;}
#menu-top {border: 1px solid #333; width: auto; display: block; padding:8px 15px; float: right;}
#menu-top i{color: #ec1d3d}
.logo_div {display: flex;justify-content: space-around;align-items: center;}
.TopMenu ul li {padding: 15px 30px;width: 100%;	border-bottom: 1px solid #0d9ea2;}
.TopMenu ul li a {color: #fff; font-size: 16px;}
.whole_logo {padding: 20px 30px;}
.logo_div img {width: 100%; max-width: 160px;}
.top_header {padding: 10px 0 0;}
/*Banner Part */
.LoginText {margin-top: 0;}
.BannerText {padding-left: 0;}
h2.HeadingSize {font-size: 32px;}
.RedButton {height: auto;line-height: 40px;padding: 0px 15px; font-size: 18px;}
.CommitmentSection .Commitment {padding: 50px 20px 50px;}
.BlogSection {padding: 70px 0 50px;}
.BlogSection .HeadingSize {line-height: 45px;}
.blogpost img {width: 100%;max-width: 250px;margin: 50px auto 0 auto;}
.BlogSection .BannerText {padding-top: 0px;text-align: center;}

.row {flex-direction: column;}
.pp-12, .pp-11, .pp-10, .pp-9, .pp-8, .pp-7, .pp-6, .pp-5, .pp-4, .pp-3, .pp-2, .pp-1 {width: 100%;}

/** Join Us Page **/
section.joinUsBanner img {object-fit: cover;object-position: right;}
.quickLink {font-size: 16px;line-height: 1.5;}
ul.workList {list-style: none;padding-left: 0;}
.workOffer {padding-left: 0;text-align: center;display: block;}
.workOfferIcon img {margin: 0 auto;}
.workOfferIcon {width: 100%;}
.joinContactBtn {display: block;}
.joinContactBtn a {display: block;margin-bottom: 15px;}
.bannerTitle h3 {font-size: 31px;}

/** Contact Us **/
section.contactUs {padding: 0;}
.contactContent {display: block;}
.contactForm {padding-top: 20px;}
/** Pawtner Page **/
.questionContent {display: block;}
.pawContent {top: 27%;left: 30px;}
.pawBannIcon img {max-width: 40px;}
.pawBannText {padding-left: 10px;}
.pawBannText h3 {font-size: 30px;margin: 5px 0;line-height: 1.1;}
/** Modal **/
.modal-content {width: 90% !important;background-size: contain !important;}
.modal-body {max-width: 45% !important;top: 10px !important;right: 31px !important;}
.modalLogo img {width: 100% !important;max-width: 80px !important;}
.modalText .contactField input {font-size: 10px !important;margin-bottom: 0px !important;padding: 10px 20px !important;}
.modalText p {font-size: 13px !important;margin-bottom: 5px !important;}
.logInBtn {font-size: 10px !important;line-height: 20px !important;}
.modal-header span {font-size: 24px !important;width: 40px !important;height: 40px !important;line-height: 40px !important;}
.modal-header {right: -6px !important;top: 36px !important;}
  
/** Pet Parents Careers 21-10-2020 **/
.SectionContent.PPred h3,.PPblue h3 {font-size: 24px;line-height: 28px;}
.PPred hr {border: 5px solid #e6173e !important; max-width: 220px !important;}
.PPblue hr {border: 5px solid #00b7bc !important; max-width: 220px !important;}
.JoinPackContent {padding: 10px 15px;text-align: center;}
.JoinPackContent h2 {font-size: 30px; margin-bottom: 0;}
.JoinThePack .JoinTestimonals {width: auto;}
.OurPack {height: auto !important; padding: 0 10px 35px;}

.sectionGridpp {display: flex;	flex-direction: column;}
.PPred, .PPimg, .PPblue {margin: 0px 0;}
.careersDetails-section1 .sectionGridpp .SectionContent {margin: 0;}
.PPblue {order: 3;}
.Wc33{order: 2;}
  
.careersDetails-section1,.careersDetails-section2,.careersDetails-section3,.careersDetails-section4,.careersDetails-section5
 {padding: 0px 0 20px;}
.OurPack h2 {padding: 15px 0 0px;}
  .OurPack p {padding-bottom: 15px;}
.OurPack p br {display: none;}
.TreatContent p br {display: none;}
.TreatContent {width: 100%;}
.TreatContent p {font-size: 14px;}
/** Pet Parents Careers 21-10-2020 End **/
  
}

@media only screen and (min-width:769px) and (max-width:3000px) {
}