@font-face {
	font-family: 'icons';
	src: url('//cdn.shopify.com/s/files/1/1355/5443/t/40/assets/icons.eot?v=116185433802405525661668678163');
	src: url('//cdn.shopify.com/s/files/1/1355/5443/t/40/assets/icons.eot?v=116185433802405525661668678163#iefix') format("embedded-opentype"),
	url('//cdn.shopify.com/s/files/1/1355/5443/t/40/assets/icons.woff?v=62038813993387723851668678163') format("woff"),
	url('//cdn.shopify.com/s/files/1/1355/5443/t/40/assets/icons.ttf?v=129991431052430511731668678163') format("truetype"),
	url('//cdn.shopify.com/s/files/1/1355/5443/t/40/assets/icons.svg?v=18801478888481195671668678163#timber-icons') format("svg");
	font-weight: normal;
	font-style: normal;
};

$socialIconFontStack: 'icons';