@font-face {
	font-family: 'icons';
	src: url('//cdn.shopify.com/s/files/1/1355/5443/t/33/assets/icons.eot?v=11618543380240552566');
	src: url('//cdn.shopify.com/s/files/1/1355/5443/t/33/assets/icons.eot?v=11618543380240552566#iefix') format("embedded-opentype"),
	url('//cdn.shopify.com/s/files/1/1355/5443/t/33/assets/icons.woff?v=6203881399338772385') format("woff"),
	url('//cdn.shopify.com/s/files/1/1355/5443/t/33/assets/icons.ttf?v=12999143105243051173') format("truetype"),
	url('//cdn.shopify.com/s/files/1/1355/5443/t/33/assets/icons.svg?v=1880147888848119567#timber-icons') format("svg");
	font-weight: normal;
	font-style: normal;
};

$socialIconFontStack: 'icons';