<!-- /templates/404.liquid -->
<header class="section-header section-header--404 text-center white_space">
  <!--<h1>{{ 'general.404.title' | t }}</h1> -->
  <div class="dog_404_img">
<a href="https://petparentsbrand.com/">
<img src="https://cdn.shopify.com/s/files/1/1355/5443/files/404_Error_5.jpg?v=1598853740" alt="404_img" class="404_img-responsive">
    </a> 
  </div>
 <!--  <div class="404_content">
  <hr class="hr--small">
  <p>{{ 'general.404.subtext_html' | t }}</p>
  </div>-->
</header>
<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script><script id="esc-redirects-404-script" src="https://easyredirects.esc-apps-cdn.com/app.js"></script>