{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
{% comment %}
<div class="DogPageContainer">
	{% section 'dogAdulthood-Products' %}
</div>
{% section 'dogSupplement-bottom' %}
{% endcomment %}
{% section 'dogAdulthood-bottom-advertisment' %}