{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
<div class="clear"></div>
<!-- Banner Section -->
<div id="__Contact_banner">
<div class="container">
<div class="row">
<div class="white_space">
<div class="__banner_inner onlineadd_data" style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/1355/5443/files/onlinetraining.png?2880" class="onlinedata" /></div>
</div>
</div>
</div>
</div>
<!-- ///////// Banner Section ///////// -->
<div class="clear"></div>
<div class="__Product_detailpage">
<div class="container">
<div class="clear"></div>
<div class="row">
<div class="white_space02">
<div class="Our_Policie_title onlinetitle_added">Welcome to our <span>Online Training Program</span></div>
<div class="__Blog_cnt">
<p>At Pet Parents®, we put the success of our independent pet retailers at the forefront. As a member of the Pet Parents® fam, you become a top priority. What does this mean, you ask? This means that our goal is to help you become even more of a top dog within the pet industry.</p>
<p>Through our Online Training Program, you will learn everything about Pet Parents® Products and more. You will become the ultimate expert and thoroughly understand the ins-and-outs of our products that are being carried in your store(s). The goal of this is to help you educate your customers &amp; team members on everything they need to know regarding our products, which will help you better sell them and make your store(s) even more successful!</p>
<p>The material below is organized by topic. There is no special order you need to go in when sniffing your way through the material. Regardless of the way you decide to start or end going through it, you are still guaranteed the title of becoming the Ultimate Pet Parents® Expert!</p>
</div>
<div class="__PDF_title">
<ul class="row"><!--use cases start-->
<li class="col-md-6"><span class="pdftitle_data">Use Cases</span>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Diapers_USE.pdf?2837" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_10.png?2951" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Belly_Bands_USE.pdf?2838" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_11.png?2952" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_USE_f1d3a959-8547-4d34-9450-cae34096d260.pdf?2995" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/uswpp.png?2996" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Pee Pads</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_SPECIALCASES.pdf?2840" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_16.png?2958" /> </a></div>
<div class="sell_points"><span class="pdftitle">Special Use Cases for Pet Parents® Products During Different Holidays &amp; Seasons</span></div>
</div>
</li>
<!--use cases end--> <!--Key Selling Points start-->
<li class="col-md-6"><span class="pdftitle_data">Key Selling Points</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Dog_Diapers_KSP_6d22a9f9-e50d-433f-ad19-a8c6ec6f10e8.pdf?2993" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/kspdd.png?2994" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Belly_Bands_KSP.pdf?2949" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_14.png?2956" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_KST_bc96cd54-ba6d-44e5-aaa5-423c5860c5ff.pdf?2996" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/kspwpeepads.png?2997" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Pee Pads</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_BELLACALVIN_KST_1.pdf?2839" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_15.png?2957" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Bella &amp; Calvin </span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/Key_Selling_Points_for_Pet_Parents_Supplements.pdf?5344" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/petsupplements1.png?5345" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Supplements</span></div>
</div>
</li>
<!--Key Selling Points end--> <!--Instructions start-->
<li class="col-md-6"><span class="pdftitle_data">Instructions </span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Diapers_HOWTOPUT.pdf?2916" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_6.png?2937" /> </a></div>
<div class="sell_points"><span class="pdftitle">How to Put on Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Bands_HOWTOPUT_1.pdf?2937" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_7.png?2948" /> </a></div>
<div class="sell_points"><span class="pdftitle">How to Put on Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_WASHING_1.pdf?2948" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_8.png?2949" /> </a></div>
<div class="sell_points"><span class="pdftitle">Washing Instructions for Pet Parents® Products</span></div>
</div>
</li>
<!--Instructions end--> <!--Advice start-->
<li class="col-md-6"><span class="pdftitle_data">Education & Advice</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_DiapersBands_CROSS_3.pdf?2915" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_5.png?2916" /> </a></div>
<div class="sell_points"><span class="pdftitle">Products to Cross Sell Pet Parents® Washable Dog Diapers &amp; Belly Bands With</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_CROSS_f7104a65-4d3d-4677-b208-dec3692f73a1.pdf?2994" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/wpp.png?2995" /> </a></div>
<div class="sell_points"><span class="pdftitle">Products to Cross Sell Pet Parents® Washable Pee Pads With</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_WHEREPLACE.pdf?2880" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_4.png?2915" /> </a></div>
<div class="sell_points"><span class="pdftitle">Where to Place Pet Parents® Products in Your Store </span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Supplements_Infographics.pdf?18104" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/petsupplements.png?18105" /> </a></div>
<div class="sell_points"><span class="pdftitle">Choose Your Pet Parents® Supplements</span></div>
</div>
</li>
<!--Advice end--> <!--FAq start-->
<li class="col-md-6"><span class="pdftitle_data">FAQs</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/FAQs_RE-ordering.pdf?17003" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/FAqreorder.png?17004" /> </a></div>
<div class="sell_points"><span class="pdftitle">FAQs About Re-Ordering</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/GeneralFAQsForRetailers.pdf?17003" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/generalfaqs.png?17005" /> </a></div>
<div class="sell_points"><span class="pdftitle">General FAQs</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_OTP_FAQs.pdf?17047" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/faq1.png?17048" /> </a></div>
<div class="sell_points"><span class="pdftitle">FAQs You May Get From Customers</span></div>
</div>
</li>
<li class="col-md-6"></li>
</ul>
<!--Faq end--></div>
</div>
</div>
</div>
</div>{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
<div class="clear"></div>
<!-- Banner Section -->
<div id="__Contact_banner">
<div class="container">
<div class="row">
<div class="white_space">
<div class="__banner_inner onlineadd_data" style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/1355/5443/files/onlinetraining.png?2880" class="onlinedata" /></div>
</div>
</div>
</div>
</div>
<!-- ///////// Banner Section ///////// -->
<div class="clear"></div>
<div class="__Product_detailpage">
<div class="container">
<div class="clear"></div>
<div class="row">
<div class="white_space02">
<div class="Our_Policie_title onlinetitle_added">Welcome to our <span>Online Training Program</span></div>
<div class="__Blog_cnt">
<p>At Pet Parents®, we put the success of our independent pet retailers at the forefront. As a member of the Pet Parents® fam, you become a top priority. What does this mean, you ask? This means that our goal is to help you become even more of a top dog within the pet industry.</p>
<p>Through our Online Training Program, you will learn everything about Pet Parents® Products and more. You will become the ultimate expert and thoroughly understand the ins-and-outs of our products that are being carried in your store(s). The goal of this is to help you educate your customers &amp; team members on everything they need to know regarding our products, which will help you better sell them and make your store(s) even more successful!</p>
<p>The material below is organized by topic. There is no special order you need to go in when sniffing your way through the material. Regardless of the way you decide to start or end going through it, you are still guaranteed the title of becoming the Ultimate Pet Parents® Expert!</p>
</div>
<div class="__PDF_title">
<ul class="row"><!--use cases start-->
<li class="col-md-6"><span class="pdftitle_data">Use Cases</span>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Diapers_USE.pdf?2837" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_10.png?2951" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Belly_Bands_USE.pdf?2838" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_11.png?2952" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_USE_f1d3a959-8547-4d34-9450-cae34096d260.pdf?2995" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/uswpp.png?2996" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Pee Pads</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_SPECIALCASES.pdf?2840" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_16.png?2958" /> </a></div>
<div class="sell_points"><span class="pdftitle">Special Use Cases for Pet Parents® Products During Different Holidays &amp; Seasons</span></div>
</div>
</li>
<!--use cases end--> <!--Key Selling Points start-->
<li class="col-md-6"><span class="pdftitle_data">Key Selling Points</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Dog_Diapers_KSP_6d22a9f9-e50d-433f-ad19-a8c6ec6f10e8.pdf?2993" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/kspdd.png?2994" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Belly_Bands_KSP.pdf?2949" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_14.png?2956" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_KST_bc96cd54-ba6d-44e5-aaa5-423c5860c5ff.pdf?2996" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/kspwpeepads.png?2997" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Pee Pads</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_BELLACALVIN_KST_1.pdf?2839" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_15.png?2957" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Bella &amp; Calvin </span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/Key_Selling_Points_for_Pet_Parents_Supplements.pdf?5344" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/petsupplements1.png?5345" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Supplements</span></div>
</div>
</li>
<!--Key Selling Points end--> <!--Instructions start-->
<li class="col-md-6"><span class="pdftitle_data">Instructions </span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Diapers_HOWTOPUT.pdf?2916" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_6.png?2937" /> </a></div>
<div class="sell_points"><span class="pdftitle">How to Put on Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Bands_HOWTOPUT_1.pdf?2937" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_7.png?2948" /> </a></div>
<div class="sell_points"><span class="pdftitle">How to Put on Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_WASHING_1.pdf?2948" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_8.png?2949" /> </a></div>
<div class="sell_points"><span class="pdftitle">Washing Instructions for Pet Parents® Products</span></div>
</div>
</li>
<!--Instructions end--> <!--Advice start-->
<li class="col-md-6"><span class="pdftitle_data">Education & Advice</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_DiapersBands_CROSS_3.pdf?2915" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_5.png?2916" /> </a></div>
<div class="sell_points"><span class="pdftitle">Products to Cross Sell Pet Parents® Washable Dog Diapers &amp; Belly Bands With</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_CROSS_f7104a65-4d3d-4677-b208-dec3692f73a1.pdf?2994" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/wpp.png?2995" /> </a></div>
<div class="sell_points"><span class="pdftitle">Products to Cross Sell Pet Parents® Washable Pee Pads With</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_WHEREPLACE.pdf?2880" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_4.png?2915" /> </a></div>
<div class="sell_points"><span class="pdftitle">Where to Place Pet Parents® Products in Your Store </span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Supplements_Infographics.pdf?18104" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/petsupplements.png?18105" /> </a></div>
<div class="sell_points"><span class="pdftitle">Choose Your Pet Parents® Supplements</span></div>
</div>
</li>
<!--Advice end--> <!--FAq start-->
<li class="col-md-6"><span class="pdftitle_data">FAQs</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/FAQs_RE-ordering.pdf?17003" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/FAqreorder.png?17004" /> </a></div>
<div class="sell_points"><span class="pdftitle">FAQs About Re-Ordering</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/GeneralFAQsForRetailers.pdf?17003" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/generalfaqs.png?17005" /> </a></div>
<div class="sell_points"><span class="pdftitle">General FAQs</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_OTP_FAQs.pdf?17047" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/faq1.png?17048" /> </a></div>
<div class="sell_points"><span class="pdftitle">FAQs You May Get From Customers</span></div>
</div>
</li>
<li class="col-md-6"></li>
</ul>
<!--Faq end--></div>
</div>
</div>
</div>
</div>{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
<div class="clear"></div>
<!-- Banner Section -->
<div id="__Contact_banner">
<div class="container">
<div class="row">
<div class="white_space">
<div class="__banner_inner onlineadd_data" style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/1355/5443/files/onlinetraining.png?2880" class="onlinedata" /></div>
</div>
</div>
</div>
</div>
<!-- ///////// Banner Section ///////// -->
<div class="clear"></div>
<div class="__Product_detailpage">
<div class="container">
<div class="clear"></div>
<div class="row">
<div class="white_space02">
<div class="Our_Policie_title onlinetitle_added">Welcome to our <span>Online Training Program</span></div>
<div class="__Blog_cnt">
<p>At Pet Parents®, we put the success of our independent pet retailers at the forefront. As a member of the Pet Parents® fam, you become a top priority. What does this mean, you ask? This means that our goal is to help you become even more of a top dog within the pet industry.</p>
<p>Through our Online Training Program, you will learn everything about Pet Parents® Products and more. You will become the ultimate expert and thoroughly understand the ins-and-outs of our products that are being carried in your store(s). The goal of this is to help you educate your customers &amp; team members on everything they need to know regarding our products, which will help you better sell them and make your store(s) even more successful!</p>
<p>The material below is organized by topic. There is no special order you need to go in when sniffing your way through the material. Regardless of the way you decide to start or end going through it, you are still guaranteed the title of becoming the Ultimate Pet Parents® Expert!</p>
</div>
<div class="__PDF_title">
<ul class="row"><!--use cases start-->
<li class="col-md-6"><span class="pdftitle_data">Use Cases</span>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Diapers_USE.pdf?2837" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_10.png?2951" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Belly_Bands_USE.pdf?2838" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_11.png?2952" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_USE_f1d3a959-8547-4d34-9450-cae34096d260.pdf?2995" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/uswpp.png?2996" /> </a></div>
<div class="sell_points"><span class="pdftitle">Use Cases for Pet Parents® Washable Pee Pads</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_SPECIALCASES.pdf?2840" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_16.png?2958" /> </a></div>
<div class="sell_points"><span class="pdftitle">Special Use Cases for Pet Parents® Products During Different Holidays &amp; Seasons</span></div>
</div>
</li>
<!--use cases end--> <!--Key Selling Points start-->
<li class="col-md-6"><span class="pdftitle_data">Key Selling Points</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Dog_Diapers_KSP_6d22a9f9-e50d-433f-ad19-a8c6ec6f10e8.pdf?2993" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/kspdd.png?2994" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Belly_Bands_KSP.pdf?2949" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_14.png?2956" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_KST_bc96cd54-ba6d-44e5-aaa5-423c5860c5ff.pdf?2996" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/kspwpeepads.png?2997" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Washable Pee Pads</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_BELLACALVIN_KST_1.pdf?2839" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_15.png?2957" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Bella &amp; Calvin </span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a href="https://cdn.shopify.com/s/files/1/1355/5443/files/Key_Selling_Points_for_Pet_Parents_Supplements.pdf?5344" target="_blank" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/petsupplements1.png?5345" /> </a></div>
<div class="sell_points"><span class="pdftitle">Key Selling Points for Pet Parents® Supplements</span></div>
</div>
</li>
<!--Key Selling Points end--> <!--Instructions start-->
<li class="col-md-6"><span class="pdftitle_data">Instructions </span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Diapers_HOWTOPUT.pdf?2916" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_6.png?2937" /> </a></div>
<div class="sell_points"><span class="pdftitle">How to Put on Pet Parents® Washable Dog Diapers</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Bands_HOWTOPUT_1.pdf?2937" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_7.png?2948" /> </a></div>
<div class="sell_points"><span class="pdftitle">How to Put on Pet Parents® Washable Belly Bands</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_WASHING_1.pdf?2948" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_8.png?2949" /> </a></div>
<div class="sell_points"><span class="pdftitle">Washing Instructions for Pet Parents® Products</span></div>
</div>
</li>
<!--Instructions end--> <!--Advice start-->
<li class="col-md-6"><span class="pdftitle_data">Education & Advice</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_DiapersBands_CROSS_3.pdf?2915" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_5.png?2916" /> </a></div>
<div class="sell_points"><span class="pdftitle">Products to Cross Sell Pet Parents® Washable Dog Diapers &amp; Belly Bands With</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Pads_CROSS_f7104a65-4d3d-4677-b208-dec3692f73a1.pdf?2994" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/wpp.png?2995" /> </a></div>
<div class="sell_points"><span class="pdftitle">Products to Cross Sell Pet Parents® Washable Pee Pads With</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_WHEREPLACE.pdf?2880" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/download_4.png?2915" /> </a></div>
<div class="sell_points"><span class="pdftitle">Where to Place Pet Parents® Products in Your Store </span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_Supplements_Infographics.pdf?18104" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/petsupplements.png?18105" /> </a></div>
<div class="sell_points"><span class="pdftitle">Choose Your Pet Parents® Supplements</span></div>
</div>
</li>
<!--Advice end--> <!--FAq start-->
<li class="col-md-6"><span class="pdftitle_data">FAQs</span>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/FAQs_RE-ordering.pdf?17003" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/FAqreorder.png?17004" /> </a></div>
<div class="sell_points"><span class="pdftitle">FAQs About Re-Ordering</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/GeneralFAQsForRetailers.pdf?17003" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/generalfaqs.png?17005" /> </a></div>
<div class="sell_points"><span class="pdftitle">General FAQs</span></div>
</div>
<div class="Pdf_card">
<div class="icontitle"><a target="_blank" href="https://cdn.shopify.com/s/files/1/1355/5443/files/PetParents_OTP_FAQs.pdf?17047" rel="noopener noreferrer"> <img alt="selling points" src="https://cdn.shopify.com/s/files/1/1355/5443/files/faq1.png?17048" /> </a></div>
<div class="sell_points"><span class="pdftitle">FAQs You May Get From Customers</span></div>
</div>
</li>
<li class="col-md-6"></li>
</ul>
<!--Faq end--></div>
</div>
</div>
</div>
</div>