{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
{{ page.content }}
<div class="StampedReview_widget_test">
<div id="stamped-reviews-widget" data-widget-type="carousel" data-title="Hear what our customers are barking about" data-limit-words="60" data-random="? string:Hear what our customers are barking about ?"></div> 
</div>