{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
{% comment %}
<div class="dogDiarrheaContainer ">
	{% section 'Problempage-dogDiarrhea' %}
</div>
{% endcomment %}
{% section 'dogDiarrhea-bottom' %}