<div class="__title_banner">
<div class="container">
<div class="row">
<div class="white_space">
<div class="__banner_inner saledata" style="text-align: left;">
<div class="Banner_page_title Customer_02">Customer <br />Reviews</div>
<img alt="Pet Parents Customer Reviews" src="https://cdn.shopify.com/s/files/1/1355/5443/files/customer-reviews.jpg?8127749364717029847" style="float: none;" /><img src="https://cdn.shopify.com/s/files/1/1355/5443/files/icon.png?332897948723755441" class="logodata" /></div>
</div>
</div>
</div>
</div>
<div class="clear"></div>
<div class="__banner_bottom">
<div class="container">
<div class="row">
<div class="white_space">
<div class="__Contact_Title_bottom best_pet_data">The best for your pets.<br /> <span> And it’s not just our opinion.</span>
<div class="__Blog_cnt fellow_pet_data">What fellow pet parents are saying about Pet Parents® products:</div>
</div>
</div>
</div>
</div>
</div>
<div class="clear"></div>
<div class="dog_prd">
<div class="container">
<div class="row">
<div class="white_space">
<div class="review_main_data"><!-- First Reviews -->
<h1><span class="cust_service_reviews">Pet Parents® <strong>Customer Service Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider1 cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data red_review_data"><span>High quality product</span></div>
<div class="__Blog_cnt_pee_data"><span>High quality material and velcro. I’ve bought similar items from other vendors and the velcro does not last or work for very long. The velcro on these belly bands is noticeably superior and will last through a lot more uses. <b>The Pet Parents owners have wonderful customer service style and light sense of humor which makes the purchase that much more pleasant. </b>When I need more of this product, will definitely buy from Pet Parents.</span>
<p><span><i> - Barbara Carmichael </i></span></p>
</div>
</li>
<li>
<div class="first_review_data red_review_data"><span>Customer service welcomes you with a fun <br />greeting before product arrives</span></div>
<div class="__Blog_cnt_pee_data"><span>Well made product. Delivered as promised. <b>Customer service welcomes you with a fun greeting before product arrives. Nice touch.</b> I'm still learning how to properly diaper an Old English </span>Bulldog..<span>I like that the </span>red brown<span> one matches her fur, keeping her dignity somewhat </span>in tact<span>. Update</span>:Oh<span> how I love these diapers! They work like a charm and wash and wear beautifully. <b>I love when products live up to their claims. 10 Gold Stars.</b> </span>
<p><span><i> - Hearts at Home </i></span></p>
</div>
</li>
<li>
<div class="first_review_data red_review_data"><span>Great company &amp; great product</span></div>
<div class="__Blog_cnt_pee_data"><span>I’m glad I read all of the reviews of the different products offered for my senior rescue doggie. These are much better than disposables, and I just put a thin sanitary liner (women) to help cut down on laundry. <b>I love Pet Parents’ customer service. </b> </span>
<p><span><i> - GininFC</i></span></p>
</div>
</li>
<li>
<div class="first_review_data red_review_data"><span>I LOVE them</span></div>
<div class="__Blog_cnt_pee_data"><span><strong>The product is great</strong>, but that’s <strong>nothing compared to how wonderful the company that sold it to me is</strong>. Incredible </span>follow up<span>. <strong>Best customer service letter ever.</strong> Seriously, <strong>it made me want to go work for this company</strong>. <strong>I love them</strong>. Can’t give enough stars or enough thanks.</span>
<p><span><i> - Dennis </i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviews"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviews"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end reviews --> <!--second belly band -->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="blue_review_data">Belly Bands Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider2 cust_review_slider_data">
<ul class="slides">
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data blue_review_data"><span>Love this product!</span></div>
<div class="__Blog_cnt_pee_data"><span><b>These belly bands exceeded my expectations.</b> I have a </span>16 year old<span> border </span>colllie<span> and was using disposable </span>wraps .<span> The disposable wraps were bulky. It was a challenge keeping the disposable wraps in place and they were not cost effective. <b>These washable belly bands are much easier to put on and are a more comfortable fit for my dog. </b>The material is soft and they wash up nicely. At night, I do put a maxi pad </span>inside<span> the belly band for additional protection. This set up has worked great! Having these belly bands have helped make the remaining time left with our sweet, old dog more enjoyable. <b>I highly recommend this product.</b> </span>
<p><span><i> - Kyle Kelly </i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Belly Bands" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg02.jpg?7154357501461280552" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data blue_review_data"><span>Perfect Belly Bands!!</span></div>
<div class="__Blog_cnt_pee_data"><span><strong>These are the best belly bands I’ve tried, and I’ve tried A LOT!</strong> They are super absorbent and don’t irritate my dog’s skin if he does urinate in them. The Velcro is surprisingly strong compared to other bands I’ve bought. I’ve not had these slide off my dog once in over a month of use. I purchased size medium and they fit my pug perfectly. He seems very comfortable and his ability to move around and get comfy is not inhibited at all by these. <strong>I’ve washed them all several times, too, and the quality remains excellent! Planning on buying more!</strong> </span>
<p><span><i> - Melanie Curtis</i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Belly Bands" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg01.jpg?15543829853841709376" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data blue_review_data"><span>Love these belly bands</span></div>
<div class="__Blog_cnt_pee_data"><span><b>A great product for your money and it works great.</b> I got </span>the large<span> size which are 8 inches wide and the end flap goes over all the Velcro. My male dog is 35 -40 pounds so the large is a perfect fit for him. The padding is soft and thick and would absorb a lot of fluid </span>however<span> I always put </span>a extra<span> large sanitary pad in his bands for extra protection and to keep them dry and clean longer.</span>
<p><span><i> - Nancy D Lee </i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Belly Bands" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg03.jpg?1714406068225580506" style="float: none;" /></p>
</div>
</div>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-bands"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-bands"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end belly band--> <!--third dog diapers-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="red_review_data">Dog Diapers Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider3 cust_review_slider_data">
<ul class="slides">
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data red_review_data"><span>Once again allowed us to enjoy his company in the living room</span></div>
<div class="__Blog_cnt_pee_data"><span>My wife and I ordered your doggy diapers for our semiretired geriatric beagle who has developed incontinence in his 16th year. They met our expectations and have <b>allowed us to once again enjoy his wonderful company in the living room without the worry of occasional puddles on the carpet. </b> My beagle and I would recommend these diapers to all pooches that have incontinence problems in their golden years. <b>Many thanks for a good product and for your quick service.</b></span>
<p><span><i> - Jon Robinson </i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="dog sitting" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg05.jpg?15103264625005641946" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data red_review_data"><span>Well made</span></div>
<div class="__Blog_cnt_pee_data"><span>I ordered a Medium for a 35lb border collie. I like the construction of these. The elastic and strong velcro that allows you to get a perfect fit and they stay on,<strong> </strong>although some people may not like the puffy extra material around the rear, I don't mind it. I didn't realize they would have built in padding in the crotch--that</span>''s<span> a plus-- if the napkin comes out the diaper will do the job without it. Cleans up nicely in the washer.<b> Highly recommend and worth paying a little extra for.</b> </span>
<p><span><i> - DPal </i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Dog Diapers" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg06.jpg?1894053536067722301" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data red_review_data"><span>Game changer!</span></div>
<div class="__Blog_cnt_pee_data"><span>We bought an initial 3-pack of Pet Parents Washable Dog Diapers for our aging beagle girl, and liked them so much we bought a second 3-pack. We are now on our third! They wash and dry beautifully, and now with the new 3 I don’t have to wash so frequently (she can sometimes use six in one day, if she’s having a ‘bad day’!) We tried disposables but she tore them apart. She hasn’t even tried to tear these. Great product! </span>
<p><span><i> - Linda Deedley</i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Dog Diapers" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg04.jpg?5976182968777293242" style="float: none;" /></p>
</div>
</div>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-dogs"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-dogs"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end dog diapers--> <!--fourth cat diapers-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="red_review_data">Cat Diapers Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider4 cust_review_slider_data">
<ul class="slides">
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data red_review_data"><span>These work great for cats!</span></div>
<div class="__Blog_cnt_pee_data"><span>I bought these for my 12lb cat. <b>They work wonderfully.</b> A little big in the leg area... Cat Urine is very strong and these cat diapers really hold that scent in.. I've had them over a week now and wash them daily and the cat urine smell comes right out. <b>I will be buying more in the future.</b> </span>
<p><span><i> - Amy Wilkerson </i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Cat Diapers" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg08.jpg?12632351679637722766" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data red_review_data"><span>Five stars</span></div>
<div class="__Blog_cnt_pee_data"><span>These diapers work </span>perfect<span> for my male cat who won't stop spraying in the house!!</span>
<p><span><i> - Tiki Tom</i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Cat Diapers" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg07.jpg?8310866952656727133" style="float: none;" /></p>
</div>
</div>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-cats"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-cats"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end cat diapers--> <!--fifth gnawtlers-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="green_review_data">Gnawtlers Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider5 cust_review_slider_data">
<ul class="slides">
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data green_review_data"><span>The puppy loves it and this is his new favorite!</span></div>
<div class="__Blog_cnt_pee_data"><span>Our 4-month-old puppy loves it and <strong>he just cannot let go of it!</strong> He could chew on this for a straight hour without getting tired of it. Not sure why, but perhaps it is about the scent and the texture of it that what he loves the most. My (probably not his) only concern is that it seems quite slippery and thus he tends to let it slip through easily and he has to re-grasp it again and again, which is probably fine the way it is...</span>
<p><span><i> - nr208</i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Gnawtlers" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg09.jpg?12058761298352565526" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data green_review_data"><span>A good product for dogs that like to chew</span></div>
<div class="__Blog_cnt_pee_data"><span>My dog really likes these. <strong>This was my second purchase of these.</strong> They last quite a long time and present no problems at all. <b>I intend to continue having these available for my dog to chew on.</b> </span>
<p><span><i> - Jon Robinson </i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Gnawtlers" src="https://cdn.shopify.com/s/files/1/1445/3104/files/customer_reviewimg010.jpg?14922260716191000157" style="float: none;" /></p>
</div>
</div>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-gnawtlers"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-gnawtlers"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end gnawtlers--> <!-- sixth furniture -->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="green_review_data">Furniture Blanket Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider6 cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data green_review_data"><span><strong>Finally, keep your couch clean</strong></span></div>
<div class="__Blog_cnt_pee_data"><span>Layla is a rescue we were having issues with her laying on the furniture and when anyone would walk towards her she pees where ever she is. I was so tired of cleaning it up and I couldn't teach her to stay off. <strong>I am so glad I got this blanket as u can see from the video she won't go anywhere near it.</strong> </span>
<p><span><i> - Kathie A.</i></span></p>
</div>
</li>
<li>
<div class="first_review_data green_review_data"><span>Easy to fold up when you don't want to use it - simple to put back down before you leave your couch unattended.</span></div>
<div class="__Blog_cnt_pee_data"><span><b>Saved my life. </b>Was having a party that evening, and my older cat had an accident on the Pet Repeller INSTEAD of my couch :) <b>So easy to clean up - no odor left on the couch at all. Wish I had this years ago!</b> </span>
<p><span><i> - Justin</i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-furniture"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-furniture"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!-- end furniture --> <!--seventh peepads-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="grey_review_data">Pee Pads Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slider7 cust_review_slider_data">
<ul class="slides">
<li>
<div class="col-md-12">
<div class="col-md-6">
<div class="first_review_data grey_review_data"><span>Impressed.</span></div>
<div class="__Blog_cnt_pee_data"><span><strong>I'm very impressed.</strong> I purchased these for whelping and they really do aborb a lot. I wish I would have purchased another pack since my Doberman whelped 11 puppies and I had a large surface area to cover and it would be nice to have backups to switch out after the arrival of a few puppies. I've already put them in the wash and dried in the delicate cycle (cold). I've placed the washed pads under her while she feeds. My Doberman weighs 85lbs so the photo demonstrates how big the coverage area is.</span>
<p><span><i> - Nancy E.</i></span></p>
</div>
</div>
<div class="col-md-6">
<div class="img_reviews_data">
<p style="text-align: right;"><img alt="Dog Pee Pads" src="https://cdn.shopify.com/s/files/1/1355/5443/files/small_image_600x.jpg?15012422413041504756" style="float: none;" /></p>
</div>
</div>
</div>
</li>
<li>
<div class="col-md-12">
<div class="first_review_data grey_review_data "><span>Great quality and leak proof</span></div>
<div class="__Blog_cnt_pee_data"><span>Great quality and sturdy. <strong>I have another brand and I like these much better.</strong> They don't move around and slip on the ground and they don't leak. Very good size. I have 3 </span>yorkies<span> and they are more than big enough. <strong>Would purchase again.</strong> </span>
<p><span><i> - Kelly K.</i></span></p>
</div>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-peepads"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-peepads"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end peepads-->
<!--eigth allergy-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="pink_review_data">Dog Immune & Allergy Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_sliderallergy cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data pink_review_data"><span>EXCELLENT PRODUCT!!!</span></div>
<div class="__Blog_cnt_pee_data"><span>My dog has grass allergies and constantly licked and bit at her paws. Prior to these chews I had to wash her paws after being outdoors several times a day. These chews stopped the allergic reaction after one day. I tried other chews that had similar immunity claims with no change in my dogs condition. Other chews claim to have fish oil but have no odor. These chews are the real deal. They have a slight fish odor, and they SHOULD. Great stuff. Excellent quality. Highly recommend! Will be buying more!</span>
<p><span><i> - Beth Cotellese </i></span></p>
</div>
</li>
<li>
<div class="first_review_data pink_review_data"><span>Everyone who had a diff that suffers from allergies should try these 1st</span></div>
<div class="__Blog_cnt_pee_data"><span>My dog looks great with these treats. He lives them and eats them like a real treat. He has sometimes a little issue in between his paws but once he started taking these it help clear him up in about 3 days which was great. It's not like the typical meds the vet has to prescribe for him and it did the same effect in less time and no hard and harsh chemicals in his body.</span>
<p><span><i> - Jasmin </i></span></p>
</div>
</li>
<li>
<div class="first_review_data pink_review_data"><span>Quality products that work!</span></div>
<div class="__Blog_cnt_pee_data"><span>I really love the Pet Parents brand because it is a company made up of pet parents! Their products are created by pet supplement scientists &amp; are made with ingredients that are result driven. They are tested &amp; come with 100% money back guarantee. They also do not contain any fillers just whole foods which is important to me! I have given my pets most of their products &amp; they work! And best of all my dogs love them! </span>
<p><span><i> - Theresa H</i></span></p>
</div>
</li>
<li>
<div class="first_review_data pink_review_data"><span>They work. Fast.</span></div>
<div class="__Blog_cnt_pee_data"><span>We have tried a few allergy/skin supplements for our Golden Retriever with SEVERE seasonal allergies. We tried these on a whim and after just a couple weeks her skin is not as "angry", she's itching less and seems more comfortable in general. Highly recommend. We've tried so many things, fish oil on her food, switching food brands, benadryl, various skin and coat supplements and regular bathing with special shampoo. We are still doing more than just these supplements but I have noticed that when we started these there was the biggest improvement in her symptoms than with any other remedy we've tried.</span>
<p><span><i> - Sarah nd chris </i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewsallergy"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewsallergy"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end allergy-->
<!--ninth bladder-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="brown_review_data">Bladder Cranberry Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_sliderbladder cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data brown_review_data"><span>Only bladder supplement my dog will take</span></div>
<div class="__Blog_cnt_pee_data"><span>My 11 year old black lab has had bladder problems for the last few years, and I've tried about a dozen different brand of supplements for her. This is the only one she's ever willingly taken, every other one had to be forced down her. She only been taking it about 4 or 5 days now, and I can already tell that it makes life easier for her. She is taking less time and effort to urinate, and has not had a single accident in the house since starting on these supplements. I'm ordering their hip and joint formula next, as that's another area where she needs help and has yet to find anything she'll happily take.</span>
<p><span><i> - Deuce Skunks </i></span></p>
</div>
</li>
<li>
<div class="first_review_data brown_review_data"><span>Works beyond what was expected!</span></div>
<div class="__Blog_cnt_pee_data"><span>My dog has been having accidents at home for too long. We chalked it up to separation anxiety. I know they say dogs don't have the mental capacity to be spiteful. But my dog made me question that REPEATEDLY. We still cage her whe we leave the house especially for extended periods of time (4+ hours). But for short trips out if we forget we come home to dry carpets. The only thing is the 1st day I gave them to her she drank a ton of water and asked to go out 5 times in 2 hours. So after seeing that I only have them to her when I was gonna be home and attentive the next few hours (not too busy to notice). It only last a few days. My dog is a senior pit lab mix. 11 yrs old, she has developed allergies poor girl. The vet okayed allergy pills. Now me and my dog take the same pills, weird as it sounds. She is not a fan of her allergy pills so I pop one in her mouth as far back as I can get it and give her 2 of the pet parents cranberry chews. She is more concerned about her yummy treats and doesn't spit out her allergy pill!</span>
<p><span><i> - Angie B. </i></span></p>
</div>
</li>
<li>
<div class="first_review_data brown_review_data"><span>Staying healthy</span></div>
<div class="__Blog_cnt_pee_data"><span>My puppy is super picky with her treats but she gobbled this one up quick and instantly. She had her first UTI at 6 months old so I started to take precautions now to avoid them and stones in the future. I’m planning on giving her one of these a day to keep her UTI free and keep us out of the vet! She just got off a round of antibiotics and got a clean bill of health so we started these and hope they are a way to keep her on a good maintenance</span>
<p><span><i> - Lex Nixon</i></span></p>
</div>
</li>
<li>
<div class="first_review_data brown_review_data"><span>Highly recommended supplement!</span></div>
<div class="__Blog_cnt_pee_data"><span>My Chihuahua started having more accidents in the house despite multiple walks a day and I began searching for support for his urinary tract. He willingly eats this supplement and seems to think it's a treat even! I have noticed an improvement in the number of accidents he has in the house. I plan to continue this supplement due to the great results!</span>
<p><span><i> - SarahS </i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewsbladder"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewsbladder"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end bladder-->
<!--tenth calming-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="calming_clr_review_data">Calming Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slidercalming cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data calming_clr_review_data"><span>Possible solution to car sickness?</span></div>
<div class="__Blog_cnt_pee_data"><span>I bought these for my dog that gets car sick. I must say that after feeding him 2 chews he was calm during the ride and didn't throw up like he normally does. Hopefully I have found the cure to his car sickness. There is not much more he is afraid of and hes not really afraid of the car he just tries to bounce around from window to window that I think he makes himself sick. Will update with further use but so far so good!</span>
<p><span><i> - nick thomas </i></span></p>
</div>
</li>
<li>
<div class="first_review_data calming_clr_review_data"><span>My dog loves it</span></div>
<div class="__Blog_cnt_pee_data"><span>My dog has a separation anxiety and he used to bark all the time when he is left alone in the room. I got this one because I have to leave him alone when I'm at work and this calming supplement is very effective on him. They are very soft chews and they come in a little big size for my dog so I have to make them into chunks for him and he loved eating it. I have not seen any drawbacks so far. He has been doing so much better with his separation anxiety. I would definitely recommend this one.</span>
<p><span><i> - 	Saqib Nazm </i></span></p>
</div>
</li>
<li>
<div class="first_review_data calming_clr_review_data"><span>My puppysidekick loves them!</span></div>
<div class="__Blog_cnt_pee_data"><span>Such a great company and brand. I’ve bought other treats from them before and saw these and had to try them. My dog comes w me everywhere. She’s my sidekick and service dog and she gets nervous in certain stores and places and these so far are helping her. It’s wonderful. She thinks they taste great and the ingredients are great so they are definitely Dutchess loved and mommy approved. Haha</span>
<p><span><i> - 	BRWNEYEDGRL23</i></span></p>
</div>
</li>
<li>
<div class="first_review_data calming_clr_review_data"><span>Approved!</span></div>
<div class="__Blog_cnt_pee_data"><span>Our German Shepherd has major anxiety. We have tried several other products but nothing seems to clam her nerves like these!</span>
<p><span><i> - Hannah </i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewscalming"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewscalming"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end calming-->
<!--eleventh hipjoint-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="hipjoint_clr_review_data">Hip & Joint Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_sliderhipjoint cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data hipjoint_clr_review_data"><span>Dogs love them!</span></div>
<div class="__Blog_cnt_pee_data"><span>First off, the container is filled to the brim with treats! I hate huge packaging that's only half full that creates an illusion og getting more than you actually are. It's refreshing to this one completely full! Second, my dogs LOVE these chews and were so eager to eat them! I also must say that they aren't stinky like a lot of dog treats(chewy ones can be especially stinky). These treats actually had a pretty pleasant odor! They've just arrived, so I can't speak to their effectiveness quite yet, but I'll give them daily then take my 10 year old on a long hike and see if he's still sore and limping the next day! I'll update this review at that time! So far I'm impressed with the ingredients, and quality of these chews!</span>
<p><span><i> - JustJess </i></span></p>
</div>
</li>
<li>
<div class="first_review_data hipjoint_clr_review_data"><span>Only a few days in and can see a difference</span></div>
<div class="__Blog_cnt_pee_data"><span>I am only about 4 days in to giving these to my dog. Before these he had been having an extremely difficult time getting on and off the couch and when he got up after laying down for a while he would take a long time to be able to walk normally. So far he loves getting these every morning, he think they're a treat and I am already starting to notice a difference, small change, but for only 4 days of these that is pretty big! I will update once I he has been taking them for a while to see what improvement he makes, but so far so good!</span>
<p><span><i> - 	Kristen B. </i></span></p>
</div>
</li>
<li>
<div class="first_review_data hipjoint_clr_review_data"><span>It works! A must have for your fuzzy baby.</span></div>
<div class="__Blog_cnt_pee_data"><span>Being older and a bodybuilder I take a joint supplement. I don't think anything of it because I'm not hurt. I use it to make sure I keep everything lubed up. My dog on the other hand has a bad back. His back legs don't work that well. So I wasn't expecting much, but hoping it would help at least a little. After a few days, my fuzzy baby is running around. On his walks he runs the whole way. It's been years since he has done this. So I'm very happy with this product.</span>
<p><span><i> - 	SirNagrom</i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewshipjoint"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewshipjoint"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end hipjoint-->
<!--twlveth multivitamin-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="multivitamin_clr_review_data">Multivitamin Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_slidermultivitamin cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data multivitamin_clr_review_data"><span>My dog loves the taste</span></div>
<div class="__Blog_cnt_pee_data"><span>My dog loves the taste and I love that they are made in the USA and seem to have a lot of good things in these vitamins. I try to feed my dog well and keep her healthy but I always thought a vitamin boost is good for me, and for my dog. I would buy these again, I need to do some price comparing however because my dog loves them, and like i said there seems to be good ingredients in them, I would buy them again! The people behind these are around and wiling to answer your questions too which is a big plus for me!</span>
<p><span><i> - Go Celtics </i></span></p>
</div>
</li>
<li>
<div class="first_review_data multivitamin_clr_review_data"><span>Happy pup, happy momma!</span></div>
<div class="__Blog_cnt_pee_data"><span>I love that this vitamin has so many benefits so I don't have to purchase multiple products! I have always looked for one & now I've found it. They must taste good cause she hasn't spit them our like she usually does lol. Everything she needs is in this little treat (she thinks it's a treat) Omega 3, digestive enzymes, vitamins A,C & E, Coq10, salmon oil, glucosamine, it's packed full of good stuff, as good as the vitamins I take & made in the USA, very happy about that! Definitely will buy again.</span>
<p><span><i> - Gigi </i></span></p>
</div>
</li>
<li>
<div class="first_review_data multivitamin_clr_review_data"><span>Our dogs love these!</span></div>
<div class="__Blog_cnt_pee_data"><span>Our Aussie and Teddy Bear love these Multi-Vitamins! They look so forward to their vitamin “treat” each day. No need to “hide” these in cheese or meat to get them to swallow them.
These dog supplements are the perfect size for both dogs and I love that they are getting quality nutrition that packs a punch.
The container and packaging are a nice, compact size and I like the twist off lid that ensures freshness.
I would reccomend Pet Parents Multi-Vitamin Supplements to any of our dog-loving family and friends!</span>
<p><span><i> - Amy L Price</i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewsmultivitamin"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewsmultivitamin"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end multivitamin-->
<!--thirteen Probiotic-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="probiotic_clr_review_data">Probiotic Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_sliderprobiotic cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data  probiotic_clr_review_data"><span>Our dog poops more regularly now</span></div>
<div class="__Blog_cnt_pee_data"><span>Our dog had colitis a few months ago, she's healed now, but her digestive system never completely recovered. She kept trying to eat grass and keeps struggling with soft poop fairly often. We now give her one of these treats daily - which she loves by the way - and her poop looks better now + more regularly. So I think we can conclude it helps! My hope is it will keep her digestive system stable and less sensitive to bacteria. We all know the vet is a lot more expensive! By the way, we also got the Multivitamins from Pet Parents, also recommended!</span>
<p><span><i> - An&Rindert </i></span></p>
</div>
</li>
<li>
<div class="first_review_data  probiotic_clr_review_data"><span>My dog loves these!</span></div>
<div class="__Blog_cnt_pee_data"><span>And so do we! The flavor makes my dog get just excited about these as she does about her treats, so we treat them as such. After dinner, she gets one for finishing her plate. She sits patiently as we get it and waits anxiously until we give her the "ok, go!" to signal she can go get it from the plate. We love these because the ingredients are natural and we can read and understand them. We feel good knowing these help her feel good.</span>
<p><span><i> - 	Jay @ 5to9_Living </i></span></p>
</div>
</li>
<li>
<div class="first_review_data  probiotic_clr_review_data"><span>Healthy and dog approved</span></div>
<div class="__Blog_cnt_pee_data"><span>My dogs love these. I have been nervous to buy anything that resembles treats as my dog is on a homemade raw keto diet for cancer. I like that they use good ingredients and it is nice to be able to give my dog treats here and there without having to worry about ingredients that are bad for him. Both my dogs love these!</span>
<p><span><i> - 	Nicknakpattywack</i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewsprobiotic"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewsprobiotic"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end Probiotic-->
<!--forteen skincoat-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="skincoat_clr_review_data">Omega 3 Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_sliderskincoat cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data  skincoat_clr_review_data"><span>dogs love it!</span></div>
<div class="__Blog_cnt_pee_data"><span>I wanted to switch from putting salmon oil on my dogs food and went with this after a friend suggested trying it. Not only do my dogs love them (they now know what it means and get very excited to hear my say “vitamins!”) but it works great and doesn’t smell. for one dog, these maintained the silky shiny coat he has on salmon oil; for the other dog, her skin is much less dry/itchy than it ever was with plain salmon oil. The little tabs are big enough to be reasonable treats for large dogs like mine but not so big that they would be unwieldy for small dogs or make a mess. Great value for the money compared to using plain salmon oil for the same purpose.</span>
<p><span><i> -  Grant </i></span></p>
</div>
</li>
<li>
<div class="first_review_data  skincoat_clr_review_data"><span>She loves these</span></div>
<div class="__Blog_cnt_pee_data"><span>Our pup loves these! We give her one after breakfast, and she gets excited and waits patiently for her "treat". She has a problem with split ends, no matter how much we groom her it doesn't seem to get better. So we are hoping these help her get a healthier coat. We recently get her a haircut her for the 2nd time since we got her (only been with us for 6 months) to give her coat a reset. We are hopeful that these vitamins + the reset will be just what she needed. Will update once her hair grows more.</span>
<p><span><i> - 	Jay @ 5to9_Living </i></span></p>
</div>
</li>
<li>
<div class="first_review_data  skincoat_clr_review_data"><span>Great product!</span></div>
<div class="__Blog_cnt_pee_data"><span>Y’all wouldn’t believe the kind of difference this has made for my Australian shepherds coat. She sheds like crazy I could al,pst make another on out of her! I have tried everything to get it to shed less, she has regular grooming appointments, I switched foods thinking that would help and even bought super expense dog supplements from petco. Nothing really seemed to help until I found these! It’s like they were made for her! She sheds but it’s not as noticeable, her hair is so much softer and her skin doesn’t bother her anymore! Please try them for yourself!</span>
<p><span><i> - 	Miranda</i></span></p>
</div>
</li>
<li>
<div class="first_review_data  skincoat_clr_review_data"><span>These definitely help my rescued chihuahua!</span></div>
<div class="__Blog_cnt_pee_data"><span>I started my dog on these as soon as they arrived because the heat has been drying out his skin and his fur was looking less shiny than nornal. Even with just a few days of use his skin looks better and his coat is shining more! I cannot wait to see how good my boy looks after a month on these! I am really glad I found these as my boy has had a hard enough time as a rescue. Him being itchy and uncomfortable all the time really was upsetting. I am so glad these help!</span>
<p><span><i> - 	Crystal B.</i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewsskincoat"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewsskincoat"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end skincoat-->
<!--fifteen turmeric-->
<h1><span class="cust_service_reviews">Pet Parents® <strong class="turmeric_clr_review_data">Turmeric & Curcumin Supplement Reviews</strong></span></h1>
<div class="col-md-12">
<div class="custom_reviews_sliderturmeric cust_review_slider_data">
<ul class="slides">
<li>
<div class="first_review_data  turmeric_clr_review_data"><span>Another great product from Pet Parents</span></div>
<div class="__Blog_cnt_pee_data"><span>Turmeric and Curcumin are powerful anti-inflammatories and strong antioxidants. I purchased this for my senior dogs who both suffer from varying degrees of arthritis / hip displaysia. Hoping this (along with regular meds) will provide some relief for my pups, but it's a good supplement regardless. Impressive ingredient list... 1000mg organic turmeric, coconut oil, 200mg organic mg hemp seed oil, black pepper extract etc. Product received is exactly as pictured. If I see any noticeable benefits, I'll be back for more for sure.</span>
<p><span><i> -  Gameplayusa </i></span></p>
</div>
</li>
<li>
<div class="first_review_data  turmeric_clr_review_data"><span>Good treats for dogs joints</span></div>
<div class="__Blog_cnt_pee_data"><span>Great treats for our dog. She has hip issues and limps sometimes. We wanted to get her some good supplements to try and help soothe her pain. We have been giving her these treats for a few weeks now and it’s hard to say it if it’s made any affect. She doesn’t like them as much as the hip and joint treats by the same brand, but she’ll eat them mixed in with food just fine. These treats have a lot of good ingredients that are great for joints like turmeric, coconut oil and curcumin. So we’re hoping that it helps her over time.</span>
<p><span><i> - 	Nadya</i></span></p>
</div>
</li>
<li>
<div class="first_review_data  turmeric_clr_review_data"><span>Works great</span></div>
<div class="__Blog_cnt_pee_data"><span>These are so much easier! I was giving Tumeric powder and it turned everything orange and my dog wasn't ahuge fan, but still ate his food. Now no struggle. He eats these readily and no orange staining, and no orange stool! He has been on them a week and still going strong! I was worried about him starting to chew again due to allergies but no itching, so I am very happy!</span>
<p><span><i> - 	Somer</i></span></p>
</div>
</li>
<li>
<div class="first_review_data  turmeric_clr_review_data"><span>Excellent supplement for your loved little ones</span></div>
<div class="__Blog_cnt_pee_data"><span>I have the complete lineup from Pet Parents. Our dogs absolutely love these supplements. I highly recommend purchasing any of their products but if you can get all of them, it is definitely something your little ones will thank you for.</span>
<p><span><i> - 	Evan</i></span></p>
</div>
</li>
</ul>
</div>
<div class="prev_next_data">
<div class="custom-navigation-reviewsturmeric"><a href="#" class="flex-prev"><span class="prevnext_ctrl_data">Prev</span></a>
<div class="custom-controls-container-reviewsturmeric"></div>
<a href="#" class="flex-next"><span class="prevnext_ctrl_data">Next</span></a></div>
</div>
</div>
<!--end turmeric-->
</div>
</div>
</div>
</div>
</div>