{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
{% comment %}
<div class="DogPageContainer ">
	{% section 'dogGoldenAge-Products' %}
</div>
{% section 'dogSupplement-bottom' %}
{% endcomment %}
{% section 'dogGoldenAge-bottom-advertisment' %}