{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
{% comment %}
<div class="dog-allergiesproblem">
{% section 'problemPage-dogAlleries' %}
</div>
{% endcomment %}
{% section 'dogAllergies-bottom-advertisment' %}