
{% layout 'themeX' %}
<!-- /templates/page.author_bio.liquid-->
{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}
<div class="__title_banner">
  <div class="container">
    <div class="row">
      <div class="__Inner_title">
        <div class="art_img_blog_data">
      	<img src="https://cdn.shopify.com/s/files/1/1355/5443/files/lgs.png?17611824411949621951" class="logodata_new_white" />     
    	<img src="https://cdn.shopify.com/s/files/1/1355/5443/files/dogsimage.png?18186" alt="{{ article.image.alt }}">
      </div>
      </div>  
    </div>
  </div>
</div>
<div class="clear"></div>
<div id="section_sidebar_add">
{% section 'author_bio_marksection' %}
</div>
   