{% layout 'themeX' %}
<!-- /templates/page.full-width.liquid -->
{% comment %}
<div class="bladderUTIproblem">
{% section 'problemPage-bladderuta' %}
</div>
{% endcomment %}
{% section 'bladderUTA-bottom-advertisment' %}